#filter_widget_classroom_selector.modal
  = form_tag filters_filter_grades_by_classroom_path, :remote => true, :class => "form-horizontal" do
    .modal-header
      %h3 Select Classrooms
    .modal-body
      %table.table-striped#filter_widget_classroom_table
    .modal-footer
      = submit_tag "Next Step", :class => "btn btn-primary"
