#filter_widget_school_selector.modal
  = form_tag filters_filter_classrooms_by_school_path, :remote => true, :class => "form-horizontal" do
    .modal-header
      %h3 Select Schools
    .modal-body
      %table.table-striped#filter_widget_school_table
    .modal-footer
      = submit_tag "Next Step", :class => "btn btn-primary"
