.auctions-content
  %h1 Ended Auctions
  .span8
    .auctions
      = link_to 'New Auction', new_school_admins_auction_path, { class: 'btn awesome-button' }
      = link_to 'Active Auctions', school_admins_auctions_path, { class: 'btn awesome-button' }
      - if @auctions.any? && current_school.name != 'STI'
        %p
          %h4 Here are the all auctions for your school which have ended.
        = render @auctions

      - else
        %p
          %h4 There are no ended auctions .
