.content-container
  .side-art
    .side-art-students
  .main-content-wrapper-no-bg
    .primary-content
      .inbox-messages-content
        %h2 Friend Messages
        = render 'messages_interface'
    .secondary-content
      = render 'boxes_nav'
