%h1 My Inbox Header

%p= lipsum(100)

= render 'boxes_nav'

= link_to "Send a message", new_message_path, class: 'btn', 'data-toggle' => 'modal', 'data-target' => '#send-message-modal'

#read-message-modal.modal.hide
  .modal-body

#send-message-modal.modal.hide
  .modal-body