.main-content-wrapper-no-bg
  .primary-content
    .inbox-messages-content
      %h2 Teacher Messages
      = render 'messages_interface'
  .secondary-content
    = render 'boxes_nav'


:javascript
  introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
    window.location.href = "/bank?multipage=true&tour=Y";
  }); 