.main-content-wrapper-no-bg
  .primary-content
    .inbox-messages-content
      %h1 Teacher Messages
      = render 'messages_interface'
  .secondary-content
    = render 'boxes_nav'

= javascript_include_tag "tours/student/overview"

:javascript
  if (hopscotch.getState() !== null && (localStorage.getItem('tour:shouldStartTour') == 'Y')) {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }
  $('a:contains("Claim Credits")').click( function(event) {
    if (this.clicked) {
      return false;
    }
    else {
      this.clicked = true
    }
    return true;
  });
