.boxes-nav-container
  %h1 Messages:
  %hr
  %ul.nav-group
    %li= inbox_link_for("Peer Messages",  @received_messages.from_teacher, teachers_peer_messages_path,   'peer-message')
    /%li= inbox_link_for("Admin Messages", @received_messages.for_admin,  'admin_messages', 'leadmin_message')
    /%li= link_to 'Send Peer a Message', teachers_peer_message_path, :class => 'peer-message'
    %li= inbox_link_for("Auctions Messages", @received_messages.from_auctions, '/teachers/inbox/auctions_messages', 'auctions-message')
    /%li= inbox_link_for("Games Messages", @received_messages.from_games, 'games_messages', 'games-message')    
    %li= link_to 'Send LE a Message', teachers_leadmin_message_path, :class => 'admin-message'
    /%br
