= paginate @message_images, :theme => 'le'
- @message_images.each do |message_image|
  %div{:id => "#{message_image.id}", :class => "hover_image"}
    = image_tag(message_image.image.thumb('50x50#').url)
= paginate @message_images, :theme => 'le'

