.main-content-wrapper
  .full-content
    %h1.orange Reward Templates

    .custom-reward-instructions
      %span.reward-template-instructions.float-left
        Create new rewards for your students. Below we have compiled a list of rewards as templates
        from the many creative, no-cost rewards created by teachers and used in LE. Click on one to
        configure it for your store or choose to create a custom reward
      = link_to 'Create a New Custom Reward', new_teachers_reward_path, class: 'btn awesome-button custom-reward-button float-left'
      .clear

    #reward-templates
      = render partial: "reward_templates_search_results", locals: {reward_templates: @reward_templates}

= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/teacher/overview"

:javascript
  if (hopscotch.getState() !== null  && (localStorage.getItem('tour:shouldStartTour') == 'Y'))  {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }
