.main-content-wrapper
  .full-content
    %h2 Your Rewards
    %p.note **NOTE:** A reward with Quantity of 0 will not be shown to students
    %ul.action_buttons
      %li= link_to 'Create a New Custom Reward', teachers_reward_templates_path, :class => "btn awesome-button"
    = paginate @teachers_rewards, :window => 2
    .resp-product
      .resp-product-row
        - if @teachers_rewards.any?
          - @teachers_rewards.in_groups_of(2) do |grp|
            - grp.each do |tr|
              - next if tr.nil?
              = render :partial => 'line_item', :locals => { :product => tr }
        - else
          %p
            You have not created any school rewards yet. Click Create a New Reward to add your very own school rewards!
    - if @teachers_rewards.count > 3
      = link_to 'Create a New Reward', new_teachers_reward_path, :class => "btn awesome-button"
