.main-content-wrapper
  .full-content
    %h1 Create Rewards
    .teachers-reward
      = render 'form'

    = link_to 'Back', teachers_rewards_path

= javascript_include_tag "tours/school_admin/overview"

:javascript
  if (hopscotch.getState() !== null) {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }
