.question-statistics
  %table
    %thead
      %tr
        %th Right
        %th Wrong
    %tbody
      %tr
        %td= question_statistics.number_of_correct_answers
        %td= question_statistics.number_of_incorrect_answers
