.question-statistics
  %table
    %thead
      %tr
        %th Right
        %th Wrong
    %tbody
      %tr
        %td= question_statistics.number_of_correct_answers
        %td= question_statistics.number_of_incorrect_answers

  - if question_statistics.number_of_answers > 0
    = image_tag(Gchart.pie title: 'Question Statistics', labels: ['Right', 'Wrong'], data: [question_statistics.number_of_correct_answers, question_statistics.number_of_incorrect_answers])
