= @teacher.first_name,

Thank you for registering for an account with Learning Earnings. If you have any questions,
feel free to contact us at support@learningearnings.com.


The team,

Learning Earnings
