%p= "Hey #{@teacher.name}," 

%p We setup your teacher account and the last step is to verify this is your correct email address.</span></p>
%p You're almost there! You just need to
= link_to 'Click Here', '/'
%p to activate your account!"
%br
%p You can also just copy and paste this link into your browser to activate also:
%br
%br
%p If you need us we're here to help, just contact admin@learningearnings.com.
