= @teacher.first_name,

We would like to welcome you to Learning Earnings. Login to take a quick tour. If you need anything at all, please let us know at TheTeam@LearningEarnings.com!

Your Team,

Learning Earnings
