.avatars
  = paginate @avatars
  - @avatars.each do |a|
    .avatar
      .image_wrapper{:id => a.id}
        = image_tag(a.image.thumb('50x50#').url)

:javascript
  $('.avatar').click( function() {
    $('.avatar').removeClass('active');
    $(this).addClass('active');
    var imageId = $('.image_wrapper', this).attr("id");
    $("input[id=avatar_id]").val(imageId)
  });
