.grid_edit_teachers {
  th {
    text-align: left;
  }
  td.text, th.text, td.text input {
    width: 50px;
  }
  td.select, th.select, td.select select {
    width: 50px;
    &.grade, &.grade select {
      width: 60px;
      display: table-cell;
    }
    &.gender, &.gender select {
      width: 90px;
    }
    .classroom, &.classroom select {
      width: 200px;
    }
  }
  .controls {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    label {
      display: inline-block;
    }
    select {
      display: inline-block;
      margin-right: 10px;
    }
    #controls_grade {
      width: 60px;
    }
    #controls_gender {
      width: 90px;
    }
    #controls_action {
      width: 300px;
    }
  }
  .delete_row{
    margin-bottom:14px;
  }
  .grade {
    margin-left: 0; // Overriding something too generic elsewhere
    width: 60px;
  }
}
