.grid_edit_teachers {
  th {
    text-align: left;
  }
  td.text, th.text, td.text input {
    width: 100px;
  }
  td.select, th.select, td.select select {
    width: 110px;
    &.grade, &.grade select {
      width: 60px;
    }
    &.gender, &.gender select {
      width: 90px;
    }
    .classroom, &.classroom select {
      width: 200px;
    }
  }
  .controls {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    label {
      display: inline-block;
    }
    #controls_grade {
      width: 60px;
    }
    #controls_gender {
      width: 90px;
    }
    #controls_action {
      width: 300px;
    }
  }
  .delete_row{
    margin-bottom:14px;
  }
  .grade {
    margin-left: 0; // Overriding something too generic elsewhere
    width: 60px;
  }
}
#parents-table td input {
  width: 130px;
}
#parent-modal{
  overflow-y: auto;
}
.parent-header
{
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  width: 70px;
}
.parent-field{
  float: left;
  margin-left: 5px;
  input {
   width: 70px;  
  }
}
.parent-fields-section{
  margin-top: 10px;
}
.parent-code{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.image-parent-code{
  margin:13px;
}
.generated-code{
  font-family: "sketch_rockwellregular";
  font-size:13px;
  margin: 13px;
  font-weight:bold;
}