.teachers-reward {
    form {
        h3 {
            text-align: left;
        }
        ul.reward-scope {
          list-style: none;
        }
        span.add-on {
            display: inline;
        }
        .form-inputs {
            .controls {
                text-align: left;
            }
            img#sample-image {
                padding: 5px;
                max-width: 50%;
                max-height: 200px;
                border: 3px solid grey;
            }
            .control-label {
                padding-top: 0px;
            }
            input[type='number'] {
                height: $baseLineHeight + 10;
                line-height: $baseLineHeight + 10;
            }
            select, input.file {
                height: $baseLineHeight;
                line-height: $baseLineHeight;
            }
        }
        .classrooms {
            display: inline-block;
            width: auto;
            margin: 0px auto;
            .classroom-checkbox {
                @include box-shadow(1px 2px 5px 1px #ccc);
                @extend .thumbnail !optional;
                display: inline-block;
                text-align: left;
                margin-bottom: 5px;
                margin-top: 5px;
                padding: 0px 5px 0px 5px;
                @include ctb-fluid-span(2);
                min-width: 150px;
/*                 @extend .pull-left; */

            }
        }
    }


}
.left{
    float:left;
}
.right{
  float:right;
}
.clear{
    clear:both;
}