%h1 School Admin Dashboard

= link_to 'Create Student', school_admins_new_student_path

| 

= link_to 'Create Teacher', school_admins_new_teacher_path


%h2 Import Dashboard

= link_to 'Import Students', school_admins_new_student_import_path

| 

= link_to 'Import Teachers', school_admins_new_teacher_import_path


