= paginate amounts, :theme => 'le'

%table.table.table-bordered
  %thead
    %tr
      %th Source
      %th Date
      %th Amount
  - amounts.each do |amount|
    %tr
      %td= amount.transaction.description
      %td= amount.transaction.created_at.to_s(:db)
      %td= amount.amount
