= paginate amounts

%table.table.table-bordered
  %thead
    %tr
      %th Source
      %th Date
      %th Amount
  - amounts.each do |amount|
    %tr
      %td= amount.transaction.description
      %td= l(amount.transaction.created_at)
      %td
        .currency= amount.amount
