#filter_widget
  = link_to "Build Filter", "#", :class => "btn", "data-toggle" => "modal", "data-target" => "#filter_widget_state_selector"
  =render "shared/state_selector"
  =render "shared/school_selector"
  =render "shared/classroom_selector"

:javascript
  $(document).ready(function() {
    //Add the click events to state, school, and class room stuff
    $('.filter_widget_state_checkbox').live('click', add_state);

    //Add the data attributes
    $('#filter_widget').data('filter-data', {state_list: [], school_list: [], classroom_list: []});
  })

  // Filter data reader
  function get_filter_data() {
    return $('#filter_widget').data('filter-data');
  }

  // Filter data writer
  function set_filter_data(data) {
    $('#filter_widget').data('filter-data', data);
  }

  //This gets called when a state checkbox is checked
  function add_state() {
    filter_data = get_filter_data();
    picked_state_id = $(this).val();
    picked_state_name = $(this).attr("data-state-name")
    if ($.inArray(picked_state_id, filter_data.state_list) > -1) { //They had already picked this state
      filter_data.state_list = $.removeFromArray([picked_state_name, picked_state_id], filter_data.state_list);
    } else { //They haven't picked this state yet
      filter_data.state_list.push([picked_state_name, picked_state_id]);
    }
    set_filter_data(filter_data);
  }

  //Define removeFromArray
  jQuery.removeFromArray = function(value, arr) {
    return jQuery.grep(arr, function(elem, index) {
      return elem !== value;
    });
  };

