#filter_widget
  = link_to "Build Filter", "#", :class => "btn", "data-toggle" => "modal", "data-target" => "#filter_widget_state_selector"
  =render "shared/state_selector"
  =render "shared/school_selector"
  =render "shared/classroom_selector"
  =render "shared/grade_selector"
  =render "shared/user_selector"

:javascript
  //Build filter json
  function build_filter_json() {
    var filter_json = {};
    filter_json["states"]     = [];
    filter_json["schools"]    = [];
    filter_json["classrooms"] = [];
    filter_json["grades"]     = {};
    filter_json["grades"]["min_grade"] = "";
    filter_json["grades"]["max_grade"] = "";
    filter_json["users"]      = [];

    //This will grab all the selected states and put them in the array
    $.each($(':checked.filter_widget_state_checkbox'), function(index, value) { filter_json["states"].push($(value).val()); });
    alert(filter_json["states"]);

    //This will grab all the selected schools and put them in the array
    $.each($(':checked.filter_widget_school_checkbox'), function(index, value) { filter_json["schools"].push($(value).val()); });
    alert(filter_json["schools"]);

    //Classrooms
    $.each($(':checked.filter_widget_classroom_checkbox'), function(index, value) { filter_json["classrooms"].push($(value).val()); });
    alert(filter_json["classrooms"]);

    //Grade
    filter_json["grades"]["min_grade"] = $('#filter_widget_min_grade').val();
    filter_json["grades"]["max_grade"] = $('#filter_widget_max_grade').val();
    alert(filter_json["grades"]["min_grade"]);
    alert(filter_json["grades"]["max_grade"]);

    //Users
    $.each($(':checked.filter_widget_user_checkbox'), function(index, value) { filter_json["users"].push($(value).val()); });
    alert(filter_json["users"]);

    return JSON.stringify(filter_json);
  }

  //Define removeFromArray
  jQuery.removeFromArray = function(value, arr) {
    return jQuery.grep(arr, function(elem, index) {
      return elem !== value;
    });
  };

