#filter_widget
  = link_to "Build Filter", "#", :class => "btn", "data-toggle" => "modal", "data-target" => "#filter_widget_state_selector"
  = hidden_field_tag "filter_widget_json", ""
  =render "shared/state_selector"
  =render "shared/school_selector"
  =render "shared/classroom_selector"
  =render "shared/grade_selector"
  =render "shared/user_selector"

:javascript
  $(document).ready(function() {
    $('#finish_him').live('click', finish_filter);
  });

  function finish_filter() {
    $('#filter_widget_user_selector').modal('hide');
    build_filter_json();
  }

  //Build filter json
  function build_filter_json() {
    var filter_json = {};
    filter_json["states"]     = [];
    filter_json["schools"]    = [];
    filter_json["classrooms"] = [];
    filter_json["grades"]     = {};
    filter_json["grades"]["min_grade"] = "";
    filter_json["grades"]["max_grade"] = "";
    filter_json["users"]      = [];

    //This will grab all the selected states and put them in the array
    $.each($(':checked.filter_widget_state_checkbox'), function(index, value) { filter_json["states"].push($(value).val()); });

    //This will grab all the selected schools and put them in the array
    $.each($(':checked.filter_widget_school_checkbox'), function(index, value) { filter_json["schools"].push($(value).val()); });

    //Classrooms
    $.each($(':checked.filter_widget_classroom_checkbox'), function(index, value) { filter_json["classrooms"].push($(value).val()); });

    //Grade
    filter_json["grades"]["min_grade"] = $('#filter_widget_min_grade').val();
    filter_json["grades"]["max_grade"] = $('#filter_widget_max_grade').val();

    //Users
    $.each($(':checked.filter_widget_user_checkbox'), function(index, value) { filter_json["users"].push($(value).val()); });

    filter_json = JSON.stringify(filter_json);
    $('#filter_widget_json').attr("value", filter_json);
    return filter_json;
  }

  //Define removeFromArray
  jQuery.removeFromArray = function(value, arr) {
    return jQuery.grep(arr, function(elem, index) {
      return elem !== value;
    });
  };

