#filter_widget_state_selector.modal.hide.fade
  .modal-header
    %h3 Select States
  .modal-body
    %form.form-horizontal 
      %ul.unstyled
        -State.all.each do |state|
          %li
            .control-group
              %label.control-label= state.name
              .controls
                =check_box_tag state.name
