.side-art-students
.student-logged-in-content
  .bacon-small
  .corkboard
  .whats-new
  .featured-activity
  .play-games
  .honor-roll
.student-logged-in-sidebar
  = render_reward_highlights(@products[0..1])
  .our-sponsors
  .poll-of-the-day
