.product-tile {
    //font-size: 1.2em;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    @extend .span3 !optional;
    @extend .thumbnail !optional;
    background-color: white;
    padding: 1em;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
}

.min-product-height {
  min-height: 150px;
}

.product-image {
  height: 150px;
  display: inline-block;
  vertical-align: top;
  & svg {
    height: 100%;
  }
}

.product-actions {
  form {
    margin: 0 0;
  }
}

.product-details {
  display: inline-block;
  line-height: 18px;
}

a.info {
    height: 10px;
    overflow: hidden;
}

table#product-properties{
  @extend .table !optional;
  @extend .table-striped !optional;
  @extend .table-bordered !optional;
  @extend .solid-background !optional;
}

.homepage_sidebar_navigation {
  background-color: white;
  padding: 1em;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
}

ul.filter_choices{
  margin-left: 0px;
  list-style-type: none;
  input{
    display: inline-block;
  }
  label{
    display: inline-block;
  }
}
