:plain
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
.main-content-wrapper
  .primary-content
    - teacher_dashboard_report = Reports::TeacherDashboardReport.new(:teacher => current_person).generate
    :javascript
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Teachers', #{teacher_dashboard_report.teacher_login_count}],
        ]);

        var options = {
          max: #{teacher_dashboard_report.total_teacher_count},
          width: 300, height: 300,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('teacher_chart_div'));
        chart.draw(data, options);

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Students', #{teacher_dashboard_report.student_login_count}],
        ]);

        var options = {
          max: #{teacher_dashboard_report.total_student_count},
          width: 300, height: 300,
          minorTicks: 5
        };

        chart = new google.visualization.Gauge(document.getElementById('student_chart_div'));
        chart.draw(data, options);
      }
    #teacher_chart_div
    #student_chart_div
