.bacon
.white-board
  .piggy-bank-small
  .bank-intro
    %p The Bank
  .bank-content
    %p Each student receives a digital checking and savings account to track and manage their hard earned LE credits! Students love learning to budget and earn interest on savings!
