.bacon
.white-board
  .piggy-bank-small
  .bank-intro
    %p The Bank
  .bank-content
    %p EACH STUDENT RECEIVES A DIGITAL CHECKING AND SAVINGS ACCOUNT TO TRACK AND MANAGE THEIR HARD EARNED LE CREDITS! STUDENTS LOVE LEARNING TO BUDGET AND EARN INTEREST ON SAVINGS!
