Bank

.boxes.row
  .span8
    .introduction-to-the-bank.big-box
      Introduction to the bank

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
