%h1 FAQ

%dl.faq
  %dt What is Learning Earnings?
  %dd Learning Earnings has created an online communication network to help teachers easily implement in‐classroom rewards to increase student motivation and engagement. LE has consolidated hundreds of rewards in one location to enable teachers to create custom designed rewards to motivate their students to complete and turn in homework, strive for perfect attendance, improve test scores, improve student motivation, increase class participation, reduce discipline problems, and increase the excitement for learning. Students earn reward points in the classroom and redeem the points for school supplies, snacks, clothes, music, games, movies, and much, much more.

  %dt How can I sign up?
  %dd As a student, the first thing you need to do is make sure your teacher has registered your class for the program. If not, please direct your teacher to our website for information on how to join. If your teacher has already registered your classroom for Learning Earnings, click the student registration button on the homepage. As a teacher, you must first register for an account. After signing up for an account, your employment status will be verified by Learning Earnings. We will notify you via the email address you provide if you are approved or if further information is required. Once approved, you may login to your account and design your very own incentive program.

  %dt What types of rewards are available?
  %dd Students earn rewards points in the classroom and redeem the points for school supplies, snacks, clothes, music, games, movie passes, and much, much more.

  %dt Who pays for the rewards?
  %dd Schools create, maintain and pay for rewards if there is a cost associated with them.  Learning Earnings' also tries to source,  and list via LE auctions rewards to supplement a school's offerings. We try to source local, regional, and national corporate sponsors who provide the goods and services for the extra motivation that is sometimes necessary for students to open their minds and reach a level of intellectual curiosity.  If a local business offers rewards to your school, such as skating passes, then your school or teacher can directly list that reward in their Learning Earnings school store.

  %dt My business would like to offer rewards, how can I sign up?
  %dd You can either register using the menu above or contact Learning Earnings at #{mail_to "theteam@LearningEarnings.com" }. Please provide your name, address, phone number, name of business, and the type of items you would like to offer as rewards.

  %dt How can I contact Learning Earnings?
  %dd Please email #{mail_to "theteam@LearningEarnings.com"} for further information.
