.boxes.row
  .span8
    .student-login.big-box
      Welcome - Student login call to action

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
