.content-container
  .side-art
    .side-art-teachers
  .main-content-wrapper-no-bg
    .primary-content
      .bacon
      .white-board
      .hands-image
      .kids-images
      .teachers-copy
      .sir-francis-bacon
      = render :partial => 'home_visitor_nav'