.bacon
.white-board
  .cta-text.students
    .cta-container
      .large Kids!!!
      .medium.bump Equation #1:
      .small Lifetime of learning =
      .small  Hard work today +
      .medium fun tomorrow!
.product-image-bursts
.sir-francis-bacon
= render :partial => 'home_visitor_nav'
