//.bacon
//.white-board
//  .cta-text.students
//    .cta-container
//      .large JOIN!!!
//      .medium.bump TEACHERS...
//      .small Your Classroom = 
//      .small  Fun & Motivating
//     .medium Instant Setup!!
//%a{href: "/teachers/new"}
//  .product-image-bursts
//.sir-francis-bacon
//= render :partial => 'home_visitor_nav'
.login
  = render 'layouts/resp_login_form'

