.row.content
  .side-art
  .bacon
  .white-board
  .product-image-bursts
  .kids-credits-cta
  .star
  .sir-francis-bacon
  %ul.stickies-nav
    %li
      %span= link_to "", "#", class: 'btn students-stickie'
    %li
      %span= link_to "", "#", class: 'btn parents-stickie'
    %li
      %span= link_to "", "#", class: 'btn teachers-stickie'

    
