.content-container
  .side-art
    .side-art-students
  .main-content-wrapper-no-bg
    .primary-content
      .bacon
      .white-board
      .product-image-bursts
      .kids-credits-cta
      .star
      .sir-francis-bacon
      = render :partial => 'home_visitor_nav'