.bacon
.white-board
  .hands-image
  .cta-text.teachers
    .cta-container
      .large Teachers!!!
      .medium Sir Bacon Francis, Ph.D. here to help you
      .small increase educational
      .small motivation and engagement!
.sir-francis-bacon
= render :partial => 'home_visitor_nav'
