.boxes.row
  .span8
    .interactive-presentation.big-box
      How it works interactive presentation

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
