.boxes.row
  .span8
    .introduction-to-the-inbox.big-box
      Introduction to the inbox

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
