.boxes.row
  .span8
    .introduction-to-the-locker.big-box
      Introduction to the locker

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
