%h2 Play Header

.primary-image
  Image

%h3 Featured / Sponsored Game
%p Lipsum
= link_to "Play Now", "#", class: 'btn'

.row
  .span8
    .row
      .span2
        .image-placeholder
          image
      .span6
        %h4 Game Title
        %p Lipsum
        = link_to "Play Now", "$", class: 'btn'
    .row
      .span2
        .image-placeholder
          image
      .span6
        %h4 Game Title
        %p Lipsum
        = link_to "Play Now", "$", class: 'btn'
  .span4
    %h3 Rewards Highlights
    .row
      .span1
        .image-placeholder
      .span3
        lipsum
    %hr
    .row
      .span1
        .image-placeholder
      .span3
        lipsum
    .row
      .span4
        %h3 Suggest a Game Callout
        .image-placeholder
