%h2 What's New Header

.boxes.row
  .span8
    .row
      .span2
        .image-placeholder
          picture
      .span6
        %p= lipsum
    %hr
    %h2 Featured Activity
    .big-box

  .span4
    %h3 Rewards Highlights
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $300
    %hr
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $300
    .row
      .span4
        %h3 Sponsor Callout
        .image-placeholder
