%h2 My Locker Header

.row
  .span12
    Big ol picture here

= link_to 'Decorate My Locker', '#', class: 'btn'
= link_to 'Share My Locker', '#', class: 'btn'
= link_to "Visit My Friend's Locker", '#', class: 'btn'
