.side-art
.student-logged-in-content
  .bacon-small
  .corkboard
  .whats-new
  .featured-activity
  .play-games
  .honor-roll
.student-logged-in-sidebar
  .reward-highlights
  .our-sponsors
  .poll-of-the-day
