.row.play-header-container
  .span8
    %h2 Play Header

    .primary-image
      Image

    %h3 Food Fight
    %p= lipsum
    = link_to "Play Now", games_food_fight_path, class: 'btn'

.games.row
  .span6
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4 Auctions
        %p Bid on cool stuff!
        = link_to "Play Now", auctions_path, class: 'btn'
    / .game.row
    /   .span2
    /     .image-placeholder
    /       image
      / .span4
      /   %h4 Number Muncher
      /   %p= lipsum(200)
      /   = link_to "Play Now", "#", class: 'btn'

  = render_reward_highlights(@products[0..1])
  .row
    .span4
      %h3 Suggest a Game Callout
      .image-placeholder
