%h2 Charities

.row
  - if current_user.person.charities.present?
    - current_user.person.charities.each do |item|
      - if item.product.name
        = image_tag item.product.thumb, :size => "100x100" , :itemprop => "image"
        %p
        = item.product.name
  - else
    %center
      %h4
        Please visit
        = link_to "Rewards", Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: current_school.store_subdomain)
        to purchase a Charity support certificate.
