%h2 News Header
.news.boxes.row
  .span8
    .row
      .span2
        .image-placeholder
          image
      .span6
        text
    %hr
    .row
      .span2
        .image-placeholder
          image
      .span6
        text

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
