.content-container
  .side-art
    .side-art-parents
  .main-content-wrapper-no-bg
    .primary-content
      %h2 News
      - 3.times do
        .news-item
          .headline
            %h3 Headline
          .content
            %p= lipsum

