.bacon
.corkboard
  .messaging-inbox
.inbox-screenshot
.teachers-inbox-cta
  = link_to "", teacher_page_path("not_logged_in_inbox"), class: 'inbox-teachers'
.parents-inbox-cta
  = link_to "", parent_page_path("not_logged_in_inbox"), class: 'inbox-parents'

