.side-art
.bacon
.white-board
.piggy-bank-small
.bank-intro 
  %p The Bank
.nav-container
  %ul.stickies-nav
    %li
      %span= link_to "", page_path('not_logged_in_bank'), class: 'students-stickie stickies_nav-students_green_nav_stickie active'
      %li
        %span= link_to "", parent_page_path("not_logged_in_bank"), class: 'parents-stickie stickies_nav-parents_orange_nav_stickie'
      %li
        %span= link_to "", teacher_page_path("not_logged_in_bank"), class: 'teachers-stickie stickies_nav-teachers_blue_nav_stickie'