.bacon
.corkboard
  .rewards-intro
    %h3 School Store
    %p
      Your school store contains all of your
      %br
      favorite school rewards (hall passes, free time, lunch with the teacher) in addition to fun items provided by educational sponsors around the country!

.rewards-highlights-small
  %ul
    %li Auctions
    %li Gift cards
    %li Games
    %li Avatars &amp; Digital Lockers

.reward-of-the-week
.nav-container-corkboard
