.side-art-teachers
.bacon
.corkboard
.rewards-highlights-small
.reward-of-the-week
.rewards-intro
.nav-container-corkboard
  %ul.stickies-nav
    %li
      %span= link_to "", "#", class: 'btn parents-stickie stickies_nav-parents_orange_nav_stickie'
    %li
      %span= link_to "", "#", class: 'btn teachers-stickie stickies_nav-teachers_blue_nav_stickie'