.bacon
.corkboard
  .rewards-intro
    %h3 School Store
    %p
      Your school store contains all of your
      %br
      favorite school rewards (hall passes, free time, lunch with the teacher) in addition to fun items provided by educational sponsors around the country!

.rewards-highlights-small
  %ul
    %li Auctions
    %li Gift cards
    %li Games
    %li Avatars &amp; Digital Lockers

.reward-of-the-week

.nav-container-corkboard
  %ul.stickies-nav
    %li
      %span= link_to "", '#', class: 'students-stickie stickies_nav-students_green_nav_stickie active'
    %li
      %span= link_to "", parent_page_path("not_logged_in_rewards"), class: 'parents-stickie stickies_nav-parents_orange_nav_stickie'
    %li
      %span= link_to "", teacher_page_path("not_logged_in_rewards"), class: 'teachers-stickie stickies_nav-teachers_blue_nav_stickie'
