.picaso-pig
.locker-desc
  %h2 The Locker
  %p Finally you can find your inner Picasso!  Get started by clicking the Decorate My Locker button.  From there you can choose from the stickers below, clicking on one will add it to your locker where you can move it where you want.  When you've got it just the way you want, be sure to show your friends by using the Share My Locker button. Voilà! Magnifique!
.locker-intro
