.side-art-parents
.bacon
.corkboard
.messaging-inbox
.inbox-screenshot
.teachers-inbox-cta
  = link_to "", "not_logged_in_inbox_teachers", class: 'inbox-teachers'
.parents-inbox-cta
  = link_to "", "not_logged_in_inbox_parents", class: 'inbox-parents'

