Play

.boxes.row
  .span8
    .introduction-to-games.big-box
      Introduction to Games and Activities

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
