.boxes.row
  .span8
    .introduction-to-the-rewards.big-box
      Introduction to the Rewards

  .span4
    .parent-section.side-box
      Call to action

    .educator-section.side-box
      Call to action
