#shipping_options{
  position: absolute;
  text-align:center;
  z-index: 1000;
  left: 40%;
  top: 40%;
  background: #E5E5E5;
  border: 4px solid red;
  border-radius: 5px;
  padding: 30px;
}

.svg-container {
    overflow: hidden;
    border: 1px solid black;
    * {
        width: 100%;
        height: 100%;
    }
}


