
@font-face {
  font-family: 'sketch_rockwellregular';
  src: url(asset_path('sketchrockwell-bold-webfont.eot',font));
  src: url(asset_path('sketchrockwell-bold-webfont.eot?#iefix',font)) format("embedded-opentype"), url(asset_path('sketchrockwell-bold-webfont.woff',font)) format("woff"), url(asset_path('sketchrockwell-bold-webfont.ttf',font)) format("truetype"), url(asset_path('sketchrockwell-bold-webfont.svg#sketch_rockwellregular',font)) format("svg");
  font-weight: normal;
  font-style: normal; }



.main-content-wrapper {
  padding: 2em;
  display: inline-block;
  vertical-align: top;

  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  min-height: 650px;


  .full-content {
    width: 99%;
    display: inline-block;
    vertical-align: top;
  }
  .primary-content {
    width: 62%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
  .secondary-content {
    width: 37%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2em;

  }
  p {
    //font-size: 1.5em;
  }
}

.content-container {
    width: 100%;
    min-width: 1060px;
    overflow: hidden;
}



.pagination {
    float: right;
    margin: 0px;
}

h2.object-title {
    height: 40px;
    padding-top: 10px;
    margin: 0px;
    float: left;
}

.object-actions {
    clear: both;
}


.product-tile {
    //font-size: 1.1em;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    @extend .span3 !optional;
    @extend .thumbnail !optional;
    background-color: white;
    height: 150px;
    padding: 1em;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
}

.product-image {
    height: 145px;
    display: inline-block;
    vertical-align: top;
}

.product-details {
  position: relative;
  display: inline-block;
  max-width: 122px;
  z-index: 10;
  max-height: 145px;
  overflow: hidden;
}

a.info {
    height: 20px;
    overflow: hidden;
}

.wholesale {
    .badge {
        background: rgba(37, 11, 134, 0.2);
    }
}
.charity {
    .badge {
        background: rgba(197, 134, 11, 0.2);
    }
}
.global {
    .badge {
        background: rgba(37, 134, 11, 0.2);
    }
}

.badge {
    @include rotate(-45deg);
    color: rgba(255,255,255, 0.9);
    z-index: 1;
    width: 100px;
//    font-size: 1.1em;
    display: inline-block;
    position: absolute;
    line-height: 1.5em;
    bottom: 35px;
    text-align: center;
    right: 0px;
    font-family: 'sketch_rockwellregular';
}

.numeric {
    text-align: right;
}

input[type='file'] {
   border: 1px solid transparent;
   display: inline-block;
   width: 224px;
}

table.print-order {
    @extend .table-bordered;
    @extend .table-striped;
}

form.rewards-search {
    float: right;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-top: 16px;
}

.svg-container {
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    * {
        width: 200px;
        height: 200px;
    }
}

.inline{
  display: inline-block;
}
