.purchased-charities
  %h2 Your Charities
  - if purchased_charities.blank?
    %p You haven't purchased any charities.
  - else
    = render 'purchased_charities', purchased_charities: purchased_charities
.clear
.available-charities
  %h2 Available Charities
  - if available_charities.blank?
    %p There are currently no charities available.
  - else
    = render 'available_charities', available_charities: available_charities
