.my-charities
  %h2 Your Charities
  - if charities.blank?
    You haven't purchased any charities
  -else
    - if charities.respond_to?(:num_pages)
      .charities-row
        = paginate charities
    %ul
      - charities.each do |c|
        = render 'charity', charity: c, tile_class: cycle('first','last') unless c.nil?
    - if charities.respond_to?(:num_pages)
      .charities-row
        = paginate charities

