.nested-fields.clear
  .field.parent-field
    = f.text_field :first_name
  .field.parent-field
    = f.text_field :last_name
  .field.parent-field
    = f.text_field :email
  .parent-field  
    = link_to_remove_association "Remove", f
