.main-content-wrapper
  .primary-content-fw
    %h2 Manage Students
    = link_to "New Students", new_teachers_bulk_students_path, class: 'btn awesome-button'
    = link_to "Edit Students", edit_teachers_bulk_students_path, class: 'btn awesome-button'
    = link_to "Link a Parent", teachers_new_parent_student_link_path, class: 'btn awesome-button'
