.main-content-wrapper
  .primary-content-fw
    %h2 Manage Students
    %ul
      %li= link_to "New Students", new_teachers_bulk_students_path
      %li= link_to "Edit Students", edit_teachers_bulk_students_path
