
%h1
  = current_school.name
%h2 Site Settings
%hr

.school-settings
  %h3 Select Teachers for Reward Distribution
  #distributor-list
    = render :partial => 'distributor_list', :locals => {:distributing_teachers => @distributing_teachers, :teachers => @teachers,  :last_changed_id => 0  }
= javascript_include_tag "distributor_list"
