
.locker_edit
  %h2 Decorate My Locker Header
  .locker_wrapper.editable
    = render 'locker_stickers', locker_sticker_links: locker_sticker_links

  .locker_interface
    .available_stickers
      %p Click a sticker to add it to your locker
      - available_stickers.each do |sticker|
        .sticker{"data-id" => sticker.id}
          = image_tag(sticker.image.url)

-# Render a template for our javascript to tie into
%script#sticker_template{type: 'text/html'}
  = render 'locker_sticker_template', x: '{{x}}', y: '{{y}}', id: '{{id}}', image_url: '{{image_url}}'
= javascript_include_tag 'lockers'
