%h1 View your friend's lockers

- if @grademates.size == 0
  %p Be sure to share your locker with your friends using the Share My Locker button. Have your friend's share their lockers with you too!
- else
  %ul.friend-lockers
    - @grademates.each do |friend|
      %li= link_to(friend, shared_locker_path(friend.id))
