.main-content-wrapper
  .full-content.shared-locker
    %h1 #{student}'s Locker
    .locker_wrapper
      = render 'locker_stickers', locker_sticker_links: locker_sticker_links
    %ul.locker_buttons
      %li= link_to 'My Locker', locker_path, class: 'submit-button'
