.kenken
  :plain
    <iframe src="https://www.kenken.com/learning_earning_test/index.html"></iframe>

= link_to 'Back to Games', games_path, class: 'btn awesome-button play-now'

:javascript
  showKenKen();

