.kenken
  :plain
    <script type="text/javascript" src="http://ken.applnk.com/widget/india_widget"></script> 

= link_to 'Back to Games', games_path, class: 'btn awesome-button play-now'

:javascript
  showKenKen();

