.game_window
  :plain
    <iframe src="/number_muncher.html" style="width:800px; height:700px;" scrolling="no" class='main_game_window' frameborder="0"></iframe>

= link_to 'Back to Games', games_path, class: 'btn awesome-button play-now'

:javascript
  $(document).bind( 'keydown', function ( event ) {
    var keys = [32, 33, 34, 35, 36, 37, 38, 39, 40, 44];
    if( keys.indexOf( event.which ) > -1 ) {
      event.preventDefault();
      event.stopPropagation();
    };
  } );


