%h4 Choose a district
%p
  = select_tag "districts_select", options_for_select(@districts)
  = button_tag "Run", :class => "run"

:javascript
  $(document).ready( function() {
    $('.run').click( function(e) {
      e.preventDefault();

      $.ajax({
        url: "/admin/district_reports/run",
        type: "POST",
        data: { id: $('#districts_select').val() }
      }).done( function(data) {
        $('.flashes').remove();
        $('.title_bar').after('<div class="flashes"><div class="flash flash_notice">'+ data.notice +'</div></div>');
      });
    });
  });
