%h4 Choose a district
%p
  = select_tag "districts_select", options_for_select(@districts)
  = button_tag "Run", :class => "run"

:javascript
  $(document).ready( function() {
    $('.run').click( function(e) {
      e.preventDefault();

      $.ajax({
        url: "/admin/district_reports/run",
        type: "POST",
        data: { id: $('#districts_select').val() }
      }).done( function() {
        alert('pass');
      }).fail( function() {
        alert('fail');
      });
    });
  });
