%h4 Choose a school
%p
  = select_tag "schools", options_for_select(@schools)
  = button_tag "Run", :class => "run"

:javascript
  $(document).ready( function() {
    $('.run').click( function(e) {
      e.preventDefault();

      $.post("/admin/school_reports/run", function() {
        id: $('#districts').val()
      }).done( function() {
        alert('pass');
      }).fail( function() {
        alert('fail');
      });
    });
  });
