%h4 Choose a school
%p
  = select_tag "schools_select", options_for_select(@schools)
  = button_tag "Run", :class => "run"

:javascript
  $(document).ready( function() {
    $('.run').click( function(e) {
      e.preventDefault();

      $.ajax({
        url: "/admin/school_reports/run",
        type: "POST",
        data: { id: $('#schools_select').val() }
      }).done( function() {
        alert('pass');
      }).fail( function() {
        alert('fail');
      })
    });
  });
