%h4 Choose a start and end date for the Tour Access Report
%p
  = text_field_tag :start_date, {}, value: (Time.zone.now - 30.days).strftime("%m/%d/%Y")
  = text_field_tag :end_date, {}, value: (Time.zone.now).strftime("%m/%d/%Y")
  = button_tag "Run", :class => "run"

:javascript
  $('#start_date').datepicker();
  $('#end_date').datepicker();
  $('.run').click( function(e) {
    e.preventDefault();

    $.ajax({
      url: "/admin/tour_access_report/run",
      type: "POST",
      data: {
        start_date: $('#start_date').val(),
        end_date: $('#end_date').val()
      }
    }).done( function(data) {
      $('.flashes').remove();
      $('.title_bar').after('<div class="flashes"><div class="flash flash_notice">'+ data.notice +'</div></div>');
    });
  });
