.main-content-wrapper
  .primary-content
    %h1 Help
    %ul
      %li
        %h3
          = link_to "Getting Started - Quick Reference Guide", "http://support.sti-k12.com/documentation/quickref/Learning Earnings - Getting Started.pdf", :target => "_blank"
        = "Click the above link to download the LE getting started quick reference guide.  "


