ul.student-listing {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.accordion {
  z-index: 100;
}

.accordion-group {
  background: white;
}

.accordion-heading {
  display: tag;
  width: 100%;
  border-top: 10px solid #FFFFFF;
  @include clearfix;
}

#add-new-student-modal {
  max-height: 100%;
  .control-group {
    margin-bottom: 0px;
  }
}

.student-tile {
//  font-size: 1.2em;
  float: left;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 30px;
  overflow: hidden;
  /*    @extend .span2 !optional; */
  @include ctb-fluid-span(4);
  @extend .thumbnail !optional;
  display: inline-block;
  background-color: white;
  padding-bottom: 2em;
  @include box-shadow(1px 2px 5px 1px #ccc);
  img {
    float: right;
  }
}

#classrooms {
  .accordion-inner {
    padding: 9px 2px;
  }
}

.classrooms-alert {
//  font-size: 1.5em;
}

#add-new-student-modal, #add-existing-student-modal .modal-body {
  form {
    margin: 0;
  }
  .chosen-container {
    width: auto !important;
  }
}
