.boxes {
  .big-box {
    min-height: 32.5em;
    background-color: $primary-background;
  }
  .side-box {
    min-height: 15em;
    background-color: $primary-background;
    margin-bottom: 2.5em;
  }
}

.image-placeholder {
  min-height: 8em;
  background-color: $primary-background;
}

.primary-image {
  min-height: 20em;
  background-color: $primary-background;
}

.message {
  margin-bottom: 2em;
  .image {
    display: inline-block;
    vertical-align: top;
  }
  .content {
    display: inline-block;
    vertical-align: top;
  }
}

.center-content {
  text-align: center;
  margin: auto;
}

.sorting-interface {
  .sorting-interface-header {
    position: relative;
  }
  .sorting-interface-sorter {
    position: absolute;
    right: 0;
    top: 0;
  }
  .pagination-wrapper {
    position: relative;
    height: 40px;
    .pagination {
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .sorting-interface-contents {
    &> .row {
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid $primary-border;
    }
  }
}

.press-releases {
  .press-release {
    margin-bottom: 2em;
  }
}

ul.nav-group{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    margin: .5em 0;
  }
}

.hover-picker{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #ddd;
  margin-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  @include box-shadow(rgba(black, 0.4) 0 0 5px);
  &:hover {
    @include box-shadow(rgba(black, 0.6) 0 0 5px);
  }
  &.active {
    border-color: red;
  }
  .image_wrapper {
    text-align: center;
  }
  .description {
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: #eee;
    min-height: 40px;
    width: 100%;
  }
}

dl.balance {
//  font-size: 150%;
  dt {
    display: inline-block;
  }
  dd {
    display: inline-block;
  }
}

