.games {
  margin-top: 2em;
  .game {
    margin-bottom: 2em;
  }
}

.food-fight-question {
  ul.answers {
    li {
      list-style-type: none;
      label {
        display: inline;
      }
      &.incorrectly-chosen {
        background-color: $incorrectly-chosen-background;
      }
      &.correct {
        background-color: $correct-background;
      }
    }
  }
}

.foods {
  .food {
    @extend .hover-picker;
  }
}

ul.student_list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1em;
  li {
    border: 1px solid transparent;
    background: #eee;
    padding: .5em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #ddd;
    }
    &.active {
      border-color: #333;
    }
    .avatar {
    }
    .name {
    }
  }
}

.games {
  .game {
    a.play-now {
      margin-left: 2em;
      font-size: 2em;
    }
  }
}

.row.games-footer {
  .reward-highlights {
    padding-top: 0;
  }

  .suggest-a-game {
    margin-top: 2em;
  }
}
