/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* FONTS */

@font-face {
  font-family: 'king_cool_kcregular';
  src: url('king_cool_kc-webfont.eot');
  src: url('king_cool_kc-webfont.eot?#iefix') format("embedded-opentype"), url('king_cool_kc-webfont.woff') format("woff"), url('king_cool_kc-webfont.ttf') format("truetype"), url('king_cool_kc-webfont.svg#king_cool_kcregular') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'sketch_rockwellregular';
  src: url('sketchrockwell-bold-webfont.eot');
  src: url('sketchrockwell-bold-webfont.eot?#iefix') format("embedded-opentype"), url('sketchrockwell-bold-webfont.woff') format("woff"), url('sketchrockwell-bold-webfont.ttf') format("truetype"), url('sketchrockwell-bold-webfont.svg#sketch_rockwellregular') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'sketch_wallregular';
  src: url('sketch_wall-webfont.eot');
  src: url('sketch_wall-webfont.eot?#iefix') format("embedded-opentype"), url('sketch_wall-webfont.woff') format("woff"), url('sketch_wall-webfont.ttf') format("truetype"), url('sketch_wall-webfont.svg#sketch_wallregular') format("svg");
  font-weight: normal;
  font-style: normal; }

/* Variables */
$how-to-active-color: #f05c1a;
.orange {
  color: #EA4E08 !important;
}

#reward_template_listings {
  margin-left: 80px;
}

.reward-template-instructions {
  display: block;
  width: 70%;
  font-size: 14px;
}

.login-div {
  float: right;
  width: 630px;
  margin-right: 10px;
}

.join-div {
  float: left;
  margin-right: 5px;
}

.custom-reward-button {
  margin-top: 10px !important;
  margin-left: 40px !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

body {
  //font-size: 62.5%;
  background: white;
}

.sti_table_heading {
  font-size: 16px;
}

.sketch_font  {
  margin-top: 20px;
  font-family: SketchRockwell;
  font-size: 25pt;
  width:110%;
  color: rgb(228,30,31)
}

.sketch_font2  {
  margin-top: 5px;
  font-family: SketchRockwell;
  font-size: 22pt;
  width:110%;
  color: rgb(228,30,31)
}

.king_font  {
  margin-left: 5px;
  font-weight: bold;
  font-family: king_cool_kcregular;
  margin-top: 20px;
  font-size: 24pt;
  color: rgb(241,201,252)
}

.king_font_welcome  {
  margin-left: 5px;
  font-weight: bold;
  font-family: king_cool_kcregular;
  margin-top: 20px;
  font-size: 18pt;
  color: rgb(9,126,186)
}

.king_font_thanks  {

  text-align: center;
  font-weight: bold;
  font-family: king_cool_kcregular;
  font-size: 16pt;
}

.sketch_font_welcome  {
  font-family: SketchRockwell;
  font-size: 20pt;
  text-align: center;
  width:160%;
  color: rgb(161, 72, 245);
  margin-top: 10px;
  margin-left: -60px;
}

h1, h2, h3, h4, h5, h6,
.navbar ul.nav li,
.person-details ul.links li,
.boxes-nav-container ul li,
span.log-in,
span.join,
.forgot-password,
.bank-intro,
.primary-nav
.awesome-button
{
  font-family: 'Open Sans';
}

@mixin really-awesom-button {
  font-family: 'sketch_rockwellregular';
}


h1 {
  color: #25860B;
}

h2 {
  color: #470BC1;
}

h3 {
  color: #EA4E08;
}

h4 {
 color: #08C;
}

.blue_color {
 color: #08C;
 font-size: 18px;
 font-family: sketch_rockwellregular;
}

.black_color {
 font-size: 18px;
 font-family: sketch_rockwellregular;
}


html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    #min-width: 960px;
    #background: url(asset_path('notebook_bg_lines.png', image)) repeat;
}

html.resp, body.resp {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    #-width: 960px;
    #min-width: 320px;
    #background: url(asset_path('lines.png', image)) repeat-y scroll center;
    #background-position: center 170px;
}

.container-full {
  height: 100%;
}

.container-1170 {
  width: 1170px;
  margin: 1em auto 0 auto;
  padding: 3em 0 0 0;
}

.container-940 {
  width: 940px;
  border-left: solid 1px pink;
  border-right: solid 1px pink;
  min-height: 1000px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -470px;
}

.notebook-vertical-rule {
}
.head {
  width: 940px;
}

.header {
  height: 140px;
  background-color: #fff;
}

.content-section {
  position: relative;
  margin-bottom: 100px;
  min-height: 800px;
}

.content-940 {
  width: 100%;
  overflow: auto;
  position: relative;
  padding: 3em 0 0 0;
  min-height: 650px;
}

.logo {
  background-image: url(asset_path('common/le_logo.png', image));
  background-repeat: no-repeat;
  margin: 8px 0 0 -15px;
  float: left;
}

.logo-link {
  display: inline-block;
  width: 139px;
  height: 133px;
}
.supplemental {
  float: right;
  width: 700px;
  .join-links {
    list-style-type: none;
    margin: 0;
      li {
        display: inline;
      }
      li:nth-child(1) {
        font-weight: bold;
        font-size: 1.4em;
        color: #1f2870;
      }
      li span a {
        margin-top: 3px;
      }
  }
}

.current-person.supplemental-part {
  .credit-balance {
    display: inline-block;
    vertical-align: top;
  }
  .person-details {
    display: inline-block;
    vertical-align: top;
  }
}

.supplemental-bg {
  background-image: url(asset_path('header-bg-large.png', image));
  background-repeat: no-repeat;
  width: 687px;
  height: 147px;
  float: right;
  margin: -35px 25px 0 0;
}


.join-supplemental-part {
  position: absolute;
  right: 50px;
  label {
    display: inline;
  }
  &.join {

  }
}

.login-supplemental-part {
  position: absolute;
  margin: 45px 0 0 40px;
}


.login-supplemental-part label {
  display: inline;
}

.login-supplemental-part .login-form-fields {
  list-style-type: none;
  margin: 0;
}

.login-supplemental-part .login-form-fields li {
  display: inline;
}

.login-form-fields .log-in {
  font-size: 1.4em;
  color: #1f2870;
}
.lt-ie9 .form-inline .log-in.text {
  position:relative;
  left:-20px;
}
.form-inline input {
  padding-top:0;
  padding-bottom:0;
}

.login-form-fields input {
  width: 130px;
  font-size: 1em;
}

.login-form-fields select {
  height: 25px;
  width: 104px;
}

.chzn-container  {
  width: 175px!important;
}

.login-form-fields .login-button {
  background-image: url(asset_path('login_button.png', image));
}

.forgot-password {
  margin: -4px 0 0 0;
}

//webshims polyfill stuffs:
.placeholder-box-input {
  vertical-align:baseline;
}
.placeholder-text {
  line-height:20px !important;
  z-index:1;
}
.placeholder-focused.placeholder-visible {
  .placeholder-text {
    display:none;
    color: #fff;
  }
}

.btn.students,
.btn.parents,
.btn.teachers,
.btn.login-button {
  font-family: 'sketch_rockwellregular';
  color: #1f2870;
  cursor: pointer;
  padding: 7px 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0;
  border: none;
  @include box-shadow(none);
  width: 96px;
  height: 37px;
}

.lt-ie9 .form-inline .login-button {    background: #075B7F;
  display:inline-block;
  margin-right:-35px;
  margin-left:20px;
}

.btn.students {
  background-image: url(asset_path('common/join-menu-green-no-text-bg.png', image));
}

.btn.parents {
  background-image: url(asset_path('common/join-menu-orange-no-text-bg.png', image));
}

.btn.teachers {
  background-image: url(asset_path('common/join-menu-blue-no-text-bg.png', image));
}

.nav-container, .nav-container-corkboard {
  position: absolute;
  top: 340px;
  left: 400px;
}

.nav-container {
  top: 380px;
  left: 500px;
}


.content-940 .how-nav {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 340px;
  left: 320px;
  li {
    display: inline;
    margin: 0 12px;
    a {
      font-family: 'sketch_rockwellregular';
    }
  }
}

.content-section .how-nav li span a {
  color: #312d68;
  font-size: 1.6em;
}

.content-section .how-nav li span a:hover {
  text-decoration: none;
  color: #f05c1a;
}

.content-section .how-nav li span a:active {
  color: #f05c1a;
}

.slides {
  top: 100px;
  left: 280px;
}

.intro-slide {
  background-image: url(asset_path('how_it_works_slide1.png', image));
  position: absolute;
  top: 40px;
  left: 280px;
  height: 232px;
  width: 522px;
}
.register-slide {
  background-image: url(asset_path('how_it_works_slide2.png', image));
  position: absolute;
  top: 40px;
  left: 280px;
  height: 232px;
  width: 484px;
}
.earn-slide {
  background-image: url(asset_path('how_it_works_slide3.png', image));
  position: absolute;
  top: 30px;
  left: 280px;
  height: 245px;
  width: 563px;
}
.enter-slide {
  background-image: url(asset_path('how_it_works_slide4.png', image));
  position: absolute;
  top: 30px;
  left: 280px;
  height: 238px;
  width: 498px;
}
.buy-slide {
  background-image: url(asset_path('how_it_works_slide5.png', image));
  position: absolute;
  top: 30px;
  left: 280px;
  height: 250px;
  width: 503px;
}
.receive-slide {
  background-image: url(asset_path('how_it_works_slide6.png', image));
  position: absolute;
  top: 30px;
  left: 280px;
  height: 227px;
  width: 554px;
}

.not-selected {
  color: #312d68;
}

.selected {
  color: #f05c1a!important;
}

.students-stickie,
.parents-stickie,
.teachers-stickie {
  display: inline-block;
  cursor: pointer;
  padding: 40px 0 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  &:hover {
    background-position: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
  }
}

.students-stickie {
  height: 109px;
  width: 110px;
  &:hover, &.active {
    background-position: -330px 0;
  }
}

.parents-stickie {
  height: 110px;
  width: 110px;
  &:hover, &.active {
    background-position: -110px 0;
  }
}

.teachers-stickie {
  height: 107px;
  width: 110px;
  &:hover, &.active {
    background-position: -550px 0;
  }
}

.profile {
  position: absolute;
  padding: 0;
  width: 250px;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid LightBlue;
  .arrow {
    border-left: 1px solid LightBlue;
    width: 50px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.custom-nav-bar {
    width: 250px;
    height: 100vh;
    padding-bottom: 10px;
    padding-left: 0;
    position: relative;
    word-wrap: break-word;
    vertical-align: top;
    float: left;
    display: block;
    background: #075B7F;
}


.navbar-inner {
  border-radius: 0;
}

.body-content {
  min-height: 500px;
}

.side-art,
.side-art-parents,
.side-art-teachers {
  display: inline-block;
}

.side-art-students {
  background-image: url(asset_path('side_doodles.png', image));
  height: 467px;
  width: 109px;
  margin-right: 2em;
}

.side-art-students-float {
  background-image: url(asset_path('side_doodles.png', image));
  height: 467px;
  width: 109px;
  float: left;
}


.side-art-parents {
  background-image: url(asset_path('side_art_parents.png', image));
  height: 561px;
  width: 122px;
  margin-left: 1em;
}

.side-art-parents-float {
  background-image: url(asset_path('side_art_parents.png', image));
  height: 561px;
  width: 122px;
  float: left;
}

.side-art-teachers {
  background-image: url(asset_path('side_art_teachers.png', image));
  height: 464px;
  width: 108px;
  margin-right: 2.1em;
}


.bacon {
  background-image: url(asset_path('sir_bacon_francis_shadows.png', image));
  width: 358px;
  height: 415px;
  float: left;
  margin-left: -80px;
  position: relative;
  z-index: 5;
 }

.bacon-small {
  background-image: url(asset_path('sir_francis_bacon_shadows_small.png', image));
  width: 170px;
  height: 230px;
  position: relative;
  top: 30px;
  z-index: 15;
  float: left;
}

.bacon-smiling-intro {
  background-image: url(asset_path('pig_smiling_intro.png', image));
  width: 275px;
  height: 344px;
  position: relative;
  top: 140px;
  float: left;
  z-index: 15;
}

.white-board {
  background-image: url(asset_path('whiteboard_with_shadows.png', image));
  height: 416px;
  width: 776px;
  margin-left: 130px;
  position: relative;
  .cta-text {
    margin:0;
    height: 300px;
    width: 305px;
    overflow:hidden;
    position: absolute;
    top: 50px;
    right: 55px;
    font-family:'sketch_rockwellregular';
    font-weight:200;
    text-align:justify;
    &.students {
      background:transparent url(asset_path('star.png', image)) no-repeat 50% 98%;
      text-transform:uppercase;
      color:#312D68;
      line-height:1;
      .large {
        font-size:85px;
        text-align:center;
      }
      .medium {
        font-size:31px;
        color:tint(#312D68, 10);
        &.bump {
          text-align:center;
          font-size:38px;
        }
      }
      .small {
        font-size:19px;
        margin:10px;
        color:tint(#312D68, 20);
      }
    }
    &.parents {
    }
    &.teachers {
      width:320px;
      text-align:center;
      font-family:'sketch_wallregular';
      color:#0D5A02;
      line-height:1;
      .large {
        font-size:86px;
      }
      .medium {
        font-size:44px;
        color:tint(#0D5A02, 5);
        margin-bottom:10px;
      }
      .small {
        font-size:34px;
      }
    }
  }
}

.corkboard {
  background-image: url(asset_path('corkboard_shadows.png', image));
  height: 384px;
  width: 621px;
  position: relative;
  top: 0;
  left: 140px;
}

.messaging-inbox {
  background-image: url(asset_path('messaging_inbox.png', image));
  height: 241px;
  width: 364px;
  position: absolute;
  top: 30px;
  left: 180px;
}

.teachers-inbox-cta {
  background-image: url(asset_path('teachers_inbox_cta.png', image));
  height: 185px;
  width: 180px;
  position: absolute;
  top: 307px;
  left: 730px;
}

.parents-inbox-cta {
  background-image: url(asset_path('parents_inbox_cta.png', image));
  height: 185px;
  width: 180px;
  position: absolute;
  top: 325px;
  left: 545px;
}

.inbox-screenshot {
  background-image: url(asset_path('inbox_screenshot.png', image));
  height: 217px;
  width: 287px;
  position: absolute;
  top: 320px;
  left: 275px;
}

.product-image-bursts {
  background-image: url(asset_path('product_image_with_pins_bursts_call_to_action.png', image));
  height: 293px;
  width: 290px;
  position: absolute;
  top: 60px;
  left: 265px;
  z-index: 0;
  &:hover {
    -webkit-filter: saturate(500%);
  }
}

.kids-credits-cta {
  background-image: url(asset_path('kids_credits_cta.png', image));
  font-family:'sketch_rockwellregular';
  height: 200px;
  width: 304px;
  position: absolute;
  top: 70px;
  left: 550px;
}

.kids-image {
  background-image: url(asset_path('kids_image.png', image));
  height: 282px;
  width: 254px;
  position: absolute;
  top: 50px;
  left: 130px;
}

.parents-copy {
  background-image: url(asset_path('parents_whiteboard_copy.png', image));
  height: 241px;
  width: 340px;
  position: absolute;
  top: 50px;
  left: 385px;
}

.teachers-copy {
  background-image: url(asset_path('teachers_copy.png', image));
  height: 274px;
  width: 325px;
  position: absolute;
  top: 50px;
  left: 385px;
}

.hands-image {
  background-image: url(asset_path('hands_image.png', image));
  height: 273px;
  width: 276px;
  position: absolute;
  top: 50px;
  left: 120px;
}


.star {
  background-image: url(asset_path('star.png', image));
  height: 59px;
  width: 55px;
  position: absolute;
  top: 275px;
  left: 675px;
}

.sir-francis-bacon {
  background-image: url(asset_path('sir_bacon_francis_arrow_copy.png', image));
  background-repeat: no-repeat;
  height: 120px;
  width: 300px;
  position: absolute;
  top: 420px;
}

.sir-francis-bacon-how-it-works-teachers {
  background-image: url(asset_path('bacon_francis_how_it_works_teachers.png', image));
  height: 351px;
  width: 227px;
  position: relative;
  float: left;
  top: 130px;
}

.intro-text {
  background-image: url(asset_path('intro_text_how_it_works_teachers.png', image));
  height: 113px;
  width: 212px;
  position: absolute;
  top: 35px;
  left: 0;
}

.join-now-how-it-works-teachers {
  background-image: url(asset_path('join_now_how_it_works_teachers.png', image));
  height: 127px;
  width: 134px;
  top: 50px;
  left: 650px;
  position: absolute;
}

.others-say-how-it-works-teachers {
  background-image: url(asset_path('see_what_others_say_how_it_works_teachers.png', image));
  height: 131px;
  width: 134px;
  top: 190px;
  left: 650px;
  position: absolute;
}

.attention-teachers {
  background-image: url(asset_path('attention_teachers.png', image));
  height: 255px;
  width: 465px;
  top: 40px;
  left: 160px;
  position: absolute;
}

.step1-slide {
  background-image: url(asset_path('step_1.png', image));
  height: 268px;
  width: 440px;
  top: 30px;
  left: 160px;
  position: absolute;
}

.step2-slide {
  background-image: url(asset_path('step_2.png', image));
  height: 268px;
  width: 398px;
  top: 30px;
  left: 160px;
  position: absolute;
}

.step3-slide {
  background-image: url(asset_path('step_3.png', image));
  height: 268px;
  width: 428px;
  top: 30px;
  left: 160px;
  position: absolute;
}

.step4-slide {
  background-image: url(asset_path('step_4.png', image));
  height: 232px;
  width: 450px;
  top: 30px;
  left: 160px;
  position: absolute;
}

.inbox-parents {
  display: inline-block;
  height: 100px;
  width: 180px;
  margin: 40px 50px 0 0;
}

.inbox-teachers {
  display: inline-block;
  height: 100px;
  width: 160px;
  margin: 50px 0 0 20px;
}

/* Pages */
.privacy-content {
  margin: -8px 0 0 180px;
}

.picaso-pig {
  background-image: url(asset_path('picaso_pig.png', image));
  width: 164px;
  height: 168px;
  position: relative;
  float: left;
  top: 0;
  left: 10px;
}

.locker-intro {
  background-image: url(asset_path('locker.png', image));
  width: 814px;
  height: 356px;
  margin: auto;
}

.locker-desc {
  margin-left: 200px;
  padding: 0 10em 3em 0;
    h2 {
      color: #1f2870;
    }
    p {
      font-size: 1.8em;
      margin-bottom: 2em;
      line-height: 140%;
    }
}

.rewards-highlights-small {
  background-image: url(asset_path('reward_highlights_yellow_notepaper_pin.png', image));
  position: absolute;
  top: 60px;
  left: 740px;
  height: 173px;
  width: 190px;
  padding-top: 45px;
  ul {
    li {
      list-style:none;
      margin:0 0 .25em .35em;
      font-family: 'king_cool_kcregular';
      font-size:1.8em;
      .product-image {
        height: inherit;
      }
    }
  }
}

.reward-of-the-week {
  background-image: url(asset_path('reward_of_the_week_pig.png', image));
  position: absolute;
  top: 240px;
  left: 740px;
  height: 205px;
  width: 190px;
}

.rewards-intro {
  background-image: url(asset_path('rewards_intro.png', image));
  position: absolute;
  top: 50px;
  left: 160px;
  height: 241px;
  width: 361px;
  padding:3.25em 2em 2em;
  h3 {
    text-transform:uppercase;
    font-size:2em;
    margin:0;
    color:#333366;
    padding:0;
  }
  p {
    font-family: 'king_cool_kcregular';
    font-size:2em;
  }
}

.games-board {
  background-image: url(asset_path('games_board.png', image));
  position: absolute;
  width: 400px;
  height: 280px;
  top: 25px;
  left: 160px;
  padding-top: 90px;
  padding-right: 130px;
  padding-left: 20px;

  p {
      font-family: 'sketch_wallregular';
      color: $small-content-color;
      font-size: 2.5em;
      line-height: 1em;
      letter-spacing: 1px;
      font-weight: normal;
  }

}

.foodfight {
  background-image: url(asset_path('food_fight.gif', image));
  position: absolute;
  width: 287px;
  height: 162px;
  top: 0;
  left: 700px;

}

.get-it-now {
  background-image: url(asset_path('get_it_now_lower_price.jpeg', image));
  position: absolute;
  width: 460px;
  height: 120px;
  top: 0;
  left: 200px;

}

.concentration {
  background-image: url(asset_path('concentration.jpeg', image));
  position: absolute;
  width: 203px;
  height: 188px;
  top: 0;
  left: 400px;
}

.boiling-point {
  background-image: url(asset_path('transparent_thermometer.gif', image));
  position: absolute;
  width: 120px;
  height: 339px;
  top: 0;
  left: 500px;
}

.testimonial-intro {
    padding: 50px 20px 0 20px;
    text-align: center;
  p {
    font-size: 60px;
    color: #f05c1a;
    font-family: 'sketch_rockwellregular';
  }
}
.testimonial-title {
  position: relative;
  padding: 10px 0px 0px 0px;;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  color: $small-content-color;
  font-family: 'sketch_rockwellregular';
}
.testimonial-body {
  padding: 20px 30px 0px 40px;;
  text-align: left;
  font-size: 2em;
  color: $small-content-color;
  p { display: inline; }
}

/* Primary Nav Selected */

.content.inbox-not-logged-in {
  .inbox {
    background-image: url(asset_path('locker_selected.png', image));
    background-repeat: no-repeat;
  }
}

.foot {
  //color: $supporting-text-color;
    position: absolute;
    bottom: 0px;
    right: 20px;
    margin: 0px 0px 0px 0px;
    color: #000;
    text-align: right;
    padding: 0;
    margin: 0;
  width: 500px;  
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  color: black;

  a {
    color: #2c7c9f;
    margin-left: 20px;
    margin-right: 20px;
  } 
  //    font-family: Arial, Open Sans;
  //    color: #000000;
  //    }
  //.secondary-nav {
  //  list-style-type: none;
  //  li {
  //    display: inline-block;
  //    padding: 0 1.5em 0 1em;
  //    border-right: solid 1px #000000;
  //      a {
  //       font-family: Arial, Open Sans;
  //       color: #000000;
  //      }
  //  }
  //  li:last-child {
  //    border-right: none;
  //  }
  //}
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

.hover_image {
  display: inline-block;
  img{
      border: 2px solid #ccc;
  }
  &:hover {
    img{
      border: 2px solid navy;
    }
  }
  &.active {
    img{
      border-color: red;
    }
  }
}

.coming-soon-intro {
  position: absolute;
  top: 0;
  p {
    font-size: 60px;
    color: #470BC1;
    margin: 60px 0 0 180px;
  }
}

.bank-intro {
  position: absolute;
  top: 0;
  p {
    font-size: 60px;
    color: #f05c1a;
    margin: 60px 0 0 180px;
  }
}

.bank-content {
  position: absolute;
  font-family: 'king_cool_kcregular';
  top: 100px;
  padding-right: 60px;
  p {
      font-size: 3em;
      line-height: 1em;
      color: #244398;
      margin: 80px 0 0 180px;
  }
}

.piggy-bank-small {
  background-image: url(asset_path('piggy_bank_small.png', image));
  position: absolute;
  width: 200px;
  height: 128px;
  top: 30px;
  left: 530px;
}

.nav-group {
  li {
    a {
      font-size: 1.6em;
      &:hover, &.active {
        text-decoration: none;
        color: #ee5b1a;
      }

    }
  }
}

.inbox-messages-content {
  h3 {
    max-width: 600px;
  }
  .message-body {
    min-height: 8em;
    background-color: #FFF;
    padding: 1em;
    max-width: 600px;
    border: solid 1px #E1E1E1;
  }
  a {
    margin-top: 1em;
  }
}

.admin-message-content,
.peer-message,
.classroom-message {
  form {
    background-color: #fff;
    max-width: 600px;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
    padding: 2em;
  }
  textarea {
    height: 250px;
    width: 550px;
  }
}

.boxes-nav-container {
  background-color: white;
  padding: 1em 1em 1em 2em;
  min-height: 500px;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  margin: 5em 0 0 0;
}

.bank-account {
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  padding: 1em;
}

.profile-bank-account {
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  padding: 1em;
  text-align: center;
}

.reward-highlights-sidebar {
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  padding: 1em;
  p {
  }
}

.messages-container {
/*  margin: 0 0 0 40%; */
  background-color: none;
  text-align: center;
  .alert {
    text-align: center;
    border: none;
    background:transparent url(asset_path('message-blue.png', image)) no-repeat 0 0;
    width: 254px;
    height: 259px;
    p {
      margin: 45px 0 0 15px;
      color: #333366;
      width: 205px;
      text-align: left;
      font-family: verdana;
      font-weight: 400;
      @include text-shadow(none);
      text-shadow: none;
      @include rotate(6deg);
      font-size:1.4em;
    }
    .close {
      position:relative;
      top:20px;
      line-height:15px;
      font-size:2.4em;
      color: #ee5b1a;
      @include opacity(.9);
      text-shadow: none;
      height: 25px;
      width: 25px;
      border: solid 2px #ee5b1a;
      @include border-radius(35px);
    }
  }
}

.lt-ie9 .messages-container .alert .close {
  border:0;
  font-size:3em;
}

.flash-message {
  position: absolute;
  top: 210px;
  left: 40%;
  z-index: 17;
}

.pending-credits {
  padding: 1em;
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
}

.news-header {

}

.news-items-container {
  overflow: hidden;
  .news-item {
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd;
  }
}

h3 {
  .post_date {
    display: inline-block;
    font-size: .5em;
    color: #999;
    font-weight: normal;
  }
}

.play-header-container {
  padding: 0 0 0 1em;
  h2, h3 {
  }
  p {
    padding-right: 4em;
    font-size: 1.8em;
    line-height: 130%;
  }
}

.games {
  padding: 0 0 0 1em;
}

.coming-soon-container {
  padding: 1em;
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  overflow: hidden;
}

.auctions-content {
  h2 {
    margin-left: 130px;
  }
  .header-info {
    p {
      margin-bottom:0;
      font-size:1.4em;
      font-weight:bold;
      span {
        font-weight:normal;
      }
    }
  }
  .auctions {
    padding: 1em;
    background-color: #fff;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
    overflow: hidden;
    margin-left: 100px;
    .auction-item {
      font-size: 1.5em;
      .start_date, .end_date {
        color: #666;
      }
      .current_bid {
        color: #ee5b1a;
        margin-bottom: 1em;
      }
    }
    .auction_links {
      float: right;
    }
  }
}

.homepage-products-container {
  margin-left: 130px;
}

.person-details {
  font-family: "Open Sans";
  font-weight: 400;
  
  width: 140px;
  max-width: 140px;
  margin-left: 10px;
  float: left;
  color: white;
  font-size: 18px;
  vertical-align: middle;
  height: 50px;
  padding-top: auto;
  padding-bottom: auto;

}

.credit-balance {
  float: right;
}

.current-person-avatar.supplemental-part {
  position: absolute;
  margin-left: -90px;
}

.avatar {
  float: left;
  padding: 8px 8px 8px 8px;
}

.cb-value {
  background-color: #fff;
  color: #F63;
  font-weight: bold;
}

.cb-heading {
  background-color: #fff;
  color: #717073;
}

.cb-heading-primary {
  color: #336;
  font-size: 1.4em;
  text-align: center!important;
  text-transform: uppercase;
}

.white-text {
  color: #fff;
}

.table-bordered-tl {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.table-bordered-tr {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table-bordered-ml {
  border-left: 1px solid #ddd;
}
.table-bordered-mr {
  border-right: 1px solid #ddd;
}
.table-bordered-bl {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.table-bordered-br {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.student-logged-in-content {
  .bacon-small {
    background-image: url(asset_path('sir_francis_bacon_shadows_small.png', image));
    width: 170px;
    height: 230px;
    position: relative;
    float: left;
    top: 150px;
    left: 0;
    z-index: 15;
  }
  .corkboard {
    left: 0;
  }
  .whats-new {
    background-image: url(asset_path('whats_new_notepaper.png', image));
    position: absolute;
    width: 364px;
    height: 239px;
    top: 25px;
    left: 200px;
    padding: 80px 70px 20px 20px;
    font-size: 1.5em;
  }
}

.featured-activity {
  font-size: 1.5em;
  background-image: url(asset_path('featured_activity.png', image));
  position: absolute;
  width: 256px;
  height: 262px;
  top: 280px;
  left: 140px;
  padding: 60px 20px 30px 30px;
}

.fa-text {
  transform: rotate(5deg);
}

.featured-activity-callout {
  position: absolute;
  top: 315px;
  left: 331px;
}

.honor-roll {
  background-image: url(asset_path('honor_roll.png', image));
  position: absolute;
  width: 585px;
  height: 272px;
  top: 585px;
  left: 40px;
}

.student-logged-in-sidebar {
  position: relative;
  top: -385px;
  width: 300px;
  float: right;
  .reward-highlights {
    background-image: url(asset_path('reward_highlights_with_tape.png', image));
    position: relative;
    width: 294px;
    height: 262px;
    .product {
      .product-image {
        float: left;
        height: 100px;
      }
      .product-details {
        width: 130px;
        float: left;
      }
    }
  }
  .our-sponsors {
    font-size: 1.4em;
    background-image: url(asset_path('our_sponsors.png', image));
    background-repeat: no-repeat;
    position: relative;
    width: 291px;
    height: 251px;
    padding: 45px 90px 0px 20px;
  }
  .our-sponsors ul {
    transform: rotate(-3deg);
  
  }
  .our-sponsors-callout {
    position: absolute;
    top: 0;
    left: 0;
    .our-sponsors-callout-content {
      display: block;
      position: absolute;
      left: 175px;
      top: 60px;
    }
  }
  .poll-of-the-day {
    background-image: url(asset_path('poll_of_the_day.png', image));
    position: relative;
    width: 296px;
    height: 268px;
  }
}

.reward-highlights {
  padding-top: 70px;
  .product {
    width: 240px;
    margin: 0 0 0 50px;
    .product-title {
      a.info {
        font-family: 'sketch_rockwellregular';
        font-size: 1.35em;
        font-weight: bold;
      }
    }
    .product-image {
      display: inline-block;
    }
    .product-details {
      display: inline-block;
      a.info {
        font-family: 'sketch_rockwellregular';
        font-size: 1.35em;
        font-weight: bold;
      }
      .selling.price {
        font-size: 1.35em;
        font-weight: bold;
      }
    }
  }
}

.reward-content {
  .product-image{
    height: auto;
    width: 100%;
    #main-image {
      width: 100%;
      border: none;
      img {
        width: auto;
        height: auto;
        max-height: 200px;
        padding-bottom: 1em;
      }
    }
  }
  .product-item {
    text-align: center;
    padding: 1em;
    max-width: 90%;
    background-color: #fff;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
  }
  .product-meta {
    .price {
      padding-top: 2em;
    }
    .add-to-cart {
      padding-top: 2em;
    }
  }
}

.add-to-cart {
  .title {
    width:75px;
    min-width:75px;
  }
  input {
    width: 4em;
    height: 2.5em;
  }
}

#product-description {
  font-size: 1.5em;
}

.games-image-container {
  padding: 15px 10px;
  box-shadow: rgba(76, 76, 76, 0.33) 0px 0px 12px 3px;
  -webkit-box-shadow: rgba(76, 76, 76, 0.33) 0px 0px 12px 3px;
  -moz-box-shadow: rgba(76, 76, 76, 0.33) 0px 0px 12px 3px;
  background-color: white;
  width: 920px;
  height: 405px;
  background-color: #fff;
  margin-bottom: 2em;
}
.games-image {
  background-image: url(asset_path('games.png', image));
  width: 900px;
  height: 375px;
  border: solid 1px #c9c9c9;
}

.main-content-wrapper {
  position: relative;
  top: 0px;
  left: 20px;
  width: 80%;  
  padding: 2em;
  display: inline-block;
  vertical-align: top;
  height: auto;
  //width:99%;
  background-color: #fff;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;

  .full-content {
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  .primary-content {
    width: 62%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
  .secondary-content {
    width: 37%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2em;

  }
  p {
    font-size: 1.5em;
  }
  .bank_content {
    p {
      font-size: 1.8em;
      line-height: 140%;
    }
    input.credits {
        height: $baseLineHeight + 10;
        line-height: $baseLineHeight + 10;
    }
  }

}

.main-content-wrapper-no-bg {
  padding: 2em;
  display: inline-block;
  vertical-align: top;
  width: 99%;
  .primary-content-fw {
    width: 90%;
  }

  .primary-content {
    width: 62%;
    display: inline-block;
    vertical-align: top;
    .select-message {
      textarea {
        width: 505px;
        height: 265px;
      }
    }
  }
  .secondary-content {
    width: 37%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2em;

  }
  p {

  }
}

.content-container {
  max-width: 1170px;
  min-width: 1060px;
  overflow: hidden;
}

.message {
  margin-bottom: 2em;
  background-color: white;
  padding: 1em 1em 1.3em 1em;
  max-width: 600px;
  -moz-box-shadow: 1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #CCC;
  box-shadow: 1px 2px 5px 1px #CCC;
  border: solid 1px #C9C9C9;
  .avatar {
    float: left;
  }
  .name {
    float: left;
    margin-left: 1em;
    font-weight: bold;
    color: #470BC1;
  }
  h3 {
    margin-top: 2em;
    color: #EB731C;
  }
  .btn.primary-button {
      background: rgba(37, 134, 11, .8);
      padding: .5em;
      border: 2px solid rgba(255, 255, 255, 0.5);
      -webkit-box-shadow: 0 0 5px #888;
      -moz-box-shadow: 0 0 5px #888;
      box-shadow: 2px 2px 2px #CCC;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      font-family: SketchRockwell;
      font-size: 1.3em;
      text-shadow: 1px 1px 2px #333;
  }
}

.awesome-button {
    background: rgb(37, 134, 11);
/*    background: rgba(37, 134, 11, .8); */
    padding: .5em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #CCC;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    font-family: SketchRockwell;
    font-size: 1.3em;
    text-shadow: 1px 1px 2px #333;
    color: #fff;
    margin: .5em;
    &:hover {
      background: rgb(71, 11, 193);
      color: #fff;
    }
}

input.awesome-button {
  padding-bottom: .5em;
}

.distribute-credits {
  label {
    display: inline-block;
  }
  input[type="number"] {
    @extend .input-small;
    margin-right: 10px;
    height: $baseLineHeight + 10;
  }
  input[type="submit"] {
    width: auto;
  }
  h4 {
    font-weight: normal;
  }
}

.grade,
.classroom-roster,
.grade-filter,
.filter-dates,
.filter-rewards,
.filter-teachers,
.sort-by {
  display: inline-block;
  margin-left: 10px;
}

.filter {
  background-color: #8bc53e;
  border-radius: 6px;
  padding: 1em 0 1em 1em;
  border: 1px solid #5EBE45;
  form {
    margin: 0;
  }
  label {
    color: #fff;
    font-weight: bold;
  }
  input[type="radio"] {
    display: inline-block;
    margin-bottom: .5em;
  }
  .all-students,
  .given-credits,
  .all-classrooms,
  .classroom {
    label {
      margin-left: .5em;
      display: inline-block;
    }
  }
}


.sorting {
  background-color: #EB731C;
  border-radius: 6px;
  padding: 1em 0 1em 1em;
  margin: 1em 0;
  border: solid 1px #DB3C07;
  form {
    margin: 0;
  }
  label {
    color: #fff;
    font-weight: bold;
  }
}

.sorting2 {
  background-color: #EB731C;
  border-radius: 6px;
  padding: 1em 0 1em 1em;
  margin: 1em 0;
  border: solid 1px #DB3C07;
  form {
    margin: 0;
  }
  label {
    color: #fff;
    font-weight: bold;
  }
}

.report {
  margin-top: 1em;

  table thead tr th {
    background-color: #5cc5e8;
    color: #470BC1;
  }
}

.currency {
    text-align: right !important;
}

hr {
    margin: 0;
    border-top: 1px solid #e1e1e1;
}

.product-details {
  padding-left: .5em;
  a {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.pagination ul {
  box-shadow: none;
}

.news-posts {
  width: 540px;
  padding: 0 20px 40px 20px;
}

.placeholder {
  padding-top: 0;
  margin-top: -8px;
}

#existing-customer {
  label {
    font-size: 1em;
    display: inline-block;
    margin-top: 15px;
  }
}

.create-classroom {
  form {
    margin-top: 30px;
    font-weigth: bold;
    font-size: 1.8em;
  }
}

.numeric {
  text-align: right;
}

#send-message-modal {
  .modal-body {
    padding: 0;
  }
  h3 {
    input {
      font-size: 14px;
      margin-left: 4em;
    }
  }
}

#transfer-credits-modal {
  input.amount {
    width: 100px;
  }
}

dl.details {
  font-size: 150%;
}

.student-account-content {
  .account-info {
    float:right;
  }
  .student-account-form {
    display: inline-block;
    input {
      height: 35px;
    }
    .btn {
      height: 50px;
    }
    select {
      width: 205px;
    }
  }
}

.auction_product a {
  color: black;
}

.sponsor-list {
  margin: -10px 0 0 0;
  white-space:nowrap;
}

.welcome-callout {
  margin: -10px 0 0 0;
}

.welcome-sticky {
  font-size: 80%;
}

#reward-templates #template-controls {
  padding: 30px 0 0 100px;
}

#reward-templates-grid {
  width:100%;
  height:auto;
  margin: 0 0 10px 0;
}
#reward-templates-grid .template-row {
  width:100%;
  margin: 7px 0;
  padding: 20px 0 0 5px;
  float:left;
  text-align:center;
}
#reward-templates-grid .template-row .template {
  float:right;
  border:none;
  width:300px;
  text-align:center;
}

.login {
  background: white;
  position: fixed; /* or absolute */
  top: 30%;
  left: 30%;
}

