/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* FONTS */

@font-face {
  font-family: 'king_cool_kcregular';
  src: url('king_cool_kc-webfont.eot');
  src: url('king_cool_kc-webfont.eot?#iefix') format("embedded-opentype"), url('king_cool_kc-webfont.woff') format("woff"), url('king_cool_kc-webfont.ttf') format("truetype"), url('king_cool_kc-webfont.svg#king_cool_kcregular') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'sketch_rockwellregular';
  src: url('sketchrockwell-bold-webfont.eot');
  src: url('sketchrockwell-bold-webfont.eot?#iefix') format("embedded-opentype"), url('sketchrockwell-bold-webfont.woff') format("woff"), url('sketchrockwell-bold-webfont.ttf') format("truetype"), url('sketchrockwell-bold-webfont.svg#sketch_rockwellregular') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'sketch_wallregular';
  src: url('sketch_wall-webfont.eot');
  src: url('sketch_wall-webfont.eot?#iefix') format("embedded-opentype"), url('sketch_wall-webfont.woff') format("woff"), url('sketch_wall-webfont.ttf') format("truetype"), url('sketch_wall-webfont.svg#sketch_wallregular') format("svg");
  font-weight: normal;
  font-style: normal; }
  
/* Variables */
$how-to-active-color: #f05c1a; 

  
/* Sprites */
$stickies_nav-layout:horizontal;
@import "sprites/stickies_nav/*.png";
@include all-stickies_nav-sprites;

body {
  font-size: 62.5%;
  font-family: 'sketch_rockwellregular';  
  background-image: url(asset_path('page_bg.png', image));
  background-position: top center;
  background-repeat: repeat-y;
  
}

input, textarea, select {
  height: 26px; /* Fix for box-sizing in twitter bootstrap */
}

.head {
  overflow: hidden;
  background-image: url(asset_path('header_bg.png', image));
  background-position: top center;
  background-repeat: repeat-y;
  background-color: #fff;
  height: 165px;
}

.content-section {
  padding: 0 35px;
  position: relative;
  margin-bottom: 100px;
  min-height: 500px;
}

.logo {
  background-image: url(asset_path('common/le_logo.png', image));
  background-repeat: no-repeat;
  width: 140px;
  float: left;
  margin-left: 140px;
  }
  
.logo-link {
  display: inline-block;
  width: 139px;
  height: 133px;
}
.supplemental {
  overflow: hidden;
  float: right;
  height: 140px;
  .join-links {
    list-style-type: none;
    margin: 0;
      li {
        display: inline;
      }
      li:nth-child(1) {
        font-weight: bold;
        font-size: 1.4em;
        color: #1f2870;
      }
      li span a {
        margin-top: 3px;
      }
  }
}

.current-person.supplemental-part {
  .credit-balance {
    display: inline-block;
    vertical-align: top;
  }
  .person-details {
    display: inline-block;
    vertical-align: top;
  }
}

.supplemental-bg {
  background-image: url(asset_path('common/login_bg.png', image));
  background-repeat: no-repeat;
  width: 531px;
  height: 103px;
  float: right;
  margin-right: 25px;
}


.join-supplemental-part {
  float: right;
  margin-right: -510px;
  label {
    display: inline;
  }
  &.join {

  }
}

.login-supplemental-part {
  position: absolute;
  margin: 45px 0 0 30px;
}


.login-supplemental-part label {
  display: inline;
}

.login-supplemental-part .login-form-fields {
  list-style-type: none;
  margin: 0;
}

.login-supplemental-part .login-form-fields li {
  display: inline;
}

.login-form-fields .log-in {
  font-size: 1.4em;
  color: #1f2870;  
}

.login-form-fields input {
  height: 25px;
  width: 100px;
  font-size: 1em;
}

.login-form-fields select {
  height: 25px;
  width: 104px;
}

.login-form-fields .login-button {
  background-image: url(asset_path('login_button.png', image));
}

.forgot-password {
  margin: -4px 0 0 115px;
}

.btn.students,
.btn.parents,
.btn.teachers,
.btn.login-button {
  font-family: 'sketch_rockwellregular';  
  color: #1f2870;
  cursor: pointer;
  padding: 7px 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0;
  border: none;
  box-shadow: none;
  width: 96px;
  height: 37px;  
}

.btn.students {
  background-image: url(asset_path('common/join-menu-green-no-text-bg.png', image));
}

.btn.parents {
  background-image: url(asset_path('common/join-menu-orange-no-text-bg.png', image));
}

.btn.teachers {
  background-image: url(asset_path('common/join-menu-blue-no-text-bg.png', image));
}

.custom-nav-bar {
  position: relative;
  top: -33px;
  left: 330px;
}

.nav-container, .nav-container-corkboard {
  position: relative;
  top: 340px;
  left: 460px;
  text-align: right;
  width: 560px;
    .stickies-nav {
      list-style-type: none;
      margin: 0;
    }
    .stickies-nav li {
      display: inline;
    }
}

.stickies-nav li a:active {
  background-image: url(asset_path('sprites/stickies_nav-s533a1acd71.png', image));  
}

.nav-container-corkboard {
  top: 310px;
  left: 310px;
}

.content-section .how-nav {
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 300px;
  left: 500px;
  li {
    display: inline;
    margin: 0 12px;
  }
}

.content-section .how-nav li span a {
  color: #312d68;
  font-size: 1.6em;
}

.content-section .how-nav li span a:hover {
  text-decoration: none;
  color: #f05c1a;  
}

.content-section .how-nav li span a:active {
  color: #f05c1a;    
}
  
.intro-slide {
  background-image: url(asset_path('how_it_works_slide1.png', image));  
  position: absolute;
  top: 50px;
  left: 480px;
  height: 232px;
  width: 522px;
}
.register-slide {
  background-image: url(asset_path('how_it_works_slide2.png', image));  
  position: absolute;
  top: 50px;
  left: 480px;
  height: 232px;
  width: 484px;  
}
.earn-slide {
  background-image: url(asset_path('how_it_works_slide3.png', image));  
  position: absolute;
  top: 40px;
  left: 480px;
  height: 245px;
  width: 563px;   
}
.enter-slide {
  background-image: url(asset_path('how_it_works_slide4.png', image));  
  position: absolute;
  top: 40px;
  left: 480px;
  height: 238px;
  width: 498px;     
}
.buy-slide {
  background-image: url(asset_path('how_it_works_slide5.png', image));  
  position: absolute;
  top: 40px;
  left: 480px;
  height: 250px;
  width: 503px;     
}
.receive-slide {
  background-image: url(asset_path('how_it_works_slide6.png', image));  
  position: absolute;
  top: 40px;
  left: 480px;
  height: 227px;
  width: 554px;      
}

.not-selected {
  color: #312d68;
}

.selected {
  color: #f05c1a!important;  
}

.students-stickie,
.parents-stickie,
.teachers-stickie {
  display: inline-block;
  cursor: pointer;
  padding: 40px 0 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  &:hover {
    background-position: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
  }
}

.students-stickie {
  height: 109px;
  width: 110px;
  &:hover, &.active {
    background-position: -330px 0;
  }
}

.parents-stickie {
  height: 110px;
  width: 110px;
  &:hover, &.active {
    background-position: -110px 0;
  }
}

.teachers-stickie {
  height: 107px;
  width: 110px;
  &:hover, &.active {
    background-position: -550px 0;  
  }
}

.custom-nav-bar .navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1.8em;
}

.navbar .nav li a {
  height: 50px;
}

.nav.primary-nav .home {
  color: #25860b;
  width: 92px
}

.nav.primary-nav .home:hover {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #25860b;
}

.home-selected {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #25860b;
}

.nav.primary-nav .how-it-works {
  color: #ea4e08;
}

.nav.primary-nav .how-it-works:hover {
  background-image: url(asset_path('how_it_works_selected.png', image));
  background-repeat: no-repeat;
  color: #ea4e08;  
}

.how-it-works-selected {
  background-image: url(asset_path('how_it_works_selected.png', image));
  background-repeat: no-repeat;
  color: #ea4e08;  
}

.nav.primary-nav .locker {
  color: #1f2870;
}

.nav.primary-nav .locker:hover {
  background-image: url(asset_path('locker_selected.png', image));
  background-repeat: no-repeat;
  color: #1f2870;
}

.locker-selected {
  background-image: url(asset_path('locker_selected.png', image));
  background-repeat: no-repeat;
  color: #1f2870;
}


.nav.primary-nav .inbox {
  color: #000000;
  width: 92px;
}

.nav.primary-nav .inbox:hover {
  background-image: url(asset_path('locker_selected.png', image));
  background-repeat: no-repeat;
}

.inbox-selected {
  background-image: url(asset_path('locker_selected.png', image));
  background-repeat: no-repeat;
}

.nav.primary-nav .bank {
  color: #470bc1;
}

.nav.primary-nav .bank:hover {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #470bc1;  
}

.bank-selected {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #470bc1;  
}

.nav.primary-nav .play {
  color: #eb731c;
}

.nav.primary-nav .play:hover {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #eb731c;  
}

.play-selected {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #eb731c;  
}

.nav.primary-nav .rewards {
  color: #b611b0;
}

.nav.primary-nav .rewards:hover {
  background-image: url(asset_path('rewards_selected.png', image));
  background-repeat: no-repeat;
  color: #b611b0;  
}

.rewards-selected {
  background-image: url(asset_path('rewards_selected.png', image));
  background-repeat: no-repeat;
  color: #b611b0;  
}

.nav.primary-nav .news {
  color: #ff2204;
}

.nav.primary-nav .news:hover {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #ff2204;  
}

.news-selected {
  background-image: url(asset_path('home_selected.png', image));
  background-repeat: no-repeat;
  color: #ff2204;  
}
.navbar-inner {
  border-radius: 0;
}

.body-content {
  min-height: 500px;
}

.side-art,
.side-art-parents,
.side-art-teachers {
  position: absolute;
}

.side-art {
  background-image: url(asset_path('side_doodles.png', image));
  height: 467px;
  width: 109px;
}

.side-art-parents {
  background-image: url(asset_path('side_art_parents.png', image));
  height: 561px;
  width: 122px;
}

.side-art-teachers {
  background-image: url(asset_path('side_art_teachers.png', image));
  height: 464px;
  width: 108px;
}


.bacon {
  background-image: url(asset_path('sir_bacon_francis_shadows.png', image));
  width: 358px;
  height: 415px;
  position: absolute;
  top: 30px;
  left: 90px;
  z-index: 15;
 }

.white-board {
  background-image: url(asset_path('whiteboard_with_shadows.png', image));
  height: 416px;
  width: 776px;
  position: absolute;
  top: 0;
  left: 330px;
  z-index: -10;
}

.corkboard {
  background-image: url(asset_path('corkboard_shadows.png', image));
  height: 384px;
  width: 621px;
  position: absolute;
  top: 0;
  left: 310px;
}

.messaging-inbox {
  background-image: url(asset_path('messaging_inbox.png', image));
  height: 241px;
  width: 364px;  
  position: absolute;
  top: 50px;
  left: 490px;
}

.teachers-inbox-cta {
  background-image: url(asset_path('teachers_inbox_cta.png', image));
  height: 185px;
  width: 180px;
  position: absolute;
  top: 200px;
  left: 930px;
}

.parents-inbox-cta {
  background-image: url(asset_path('parents_inbox_cta.png', image));
  height: 185px;
  width: 180px;
  position: absolute;
  top: 0;
  left: 945px;  
}

.inbox-screenshot {
  background-image: url(asset_path('inbox_screenshot.png', image));
  height: 217px;
  width: 287px;
  position: absolute;
  top: 300px;
  left: 565px;   
}

.product-image-bursts {
  background-image: url(asset_path('product_image_with_pins_bursts.png', image));
  height: 293px;
  width: 290px;
  position: absolute;
  top: 30px;
  left: 465px;
}

.kids-credits-cta {
  background-image: url(asset_path('kids_credits_cta.png', image));
  height: 200px;
  width: 304px;
  position: absolute;
  top: 30px;
  left: 760px;
}

.kids-image {
  background-image: url(asset_path('kids_image.png', image));
  height: 282px;
  width: 254px;
  position: absolute;
  top: 50px;
  left: 465px;
}

.parents-copy {
  background-image: url(asset_path('parents_whiteboard_copy.png', image));
  height: 241px;
  width: 340px;
  position: absolute;
  top: 50px;
  left: 720px;
}

.teachers-copy {
  background-image: url(asset_path('teachers_copy.png', image));
  height: 274px;
  width: 325px;
  position: absolute;
  top: 50px;
  left: 720px;
}

.hands-image {
  background-image: url(asset_path('hands_image.png', image));
  height: 273px;
  width: 276px;
  position: absolute;
  top: 50px;
  left: 465px;
}


.star {
  background-image: url(asset_path('star.png', image));
  height: 59px;
  width: 55px;
  position: absolute;
  top: 215px;
  left: 885px;
}

.sir-francis-bacon {
  background-image: url(asset_path('sir_bacon_francis_arrow_copy.png', image));
  height: 77px;
  width: 276px;
  position: absolute;
  top: 390px;
  left: 205px;
}

.sir-francis-bacon-how-it-works-teachers {
  background-image: url(asset_path('bacon_francis_how_it_works_teachers.png', image));
  height: 351px;
  width: 227px;
  position: absolute;
  top: 140px;
  left: 215px;
}

.intro-text {
  background-image: url(asset_path('intro_text_how_it_works_teachers.png', image));
  height: 113px;
  width: 212px;
  position: absolute;
  top: 8px;
  left: 205px;
}

.join-now-how-it-works-teachers {
  background-image: url(asset_path('join_now_how_it_works_teachers.png', image));  
  height: 127px;
  width: 134px;
  top: 50px;
  left: 1000px;
  position: absolute;
}

.others-say-how-it-works-teachers {
  background-image: url(asset_path('see_what_others_say_how_it_works_teachers.png', image));
  height: 131px;
  width: 134px;
  top: 190px;
  left: 1000px;
  position: absolute;
}

.attention-teachers {
  background-image: url(asset_path('attention_teachers.png', image));
  height: 255px;
  width: 465px;
  top: 40px;
  left: 480px;
  position: absolute;
}

.step1-slide {
  background-image: url(asset_path('step_1.png', image));
  height: 268px;
  width: 440px;
  top: 30px;
  left: 500px;
  position: absolute;
}

.step2-slide {
  background-image: url(asset_path('step_2.png', image));
  height: 268px;
  width: 398px;
  top: 30px;
  left: 500px;
  position: absolute;
}

.step3-slide {
  background-image: url(asset_path('step_3.png', image));
  height: 268px;
  width: 428px;
  top: 30px;
  left: 500px;
  position: absolute;
}

.step4-slide {
  background-image: url(asset_path('step_4.png', image));
  height: 232px;
  width: 450px;
  top: 30px;
  left: 500px;
  position: absolute;
}

.inbox-parents {
  display: inline-block;
  height: 100px;
  width: 180px;
  margin: 40px 50px 0 0;
}

.inbox-teachers {
  display: inline-block;
  height: 100px;
  width: 160px;
  margin: 50px 0 0 20px;
}

/* Pages */
.privacy-content {
  margin: -8px 0 0 180px;
}

.picaso-pig {
  background-image: url(asset_path('picaso_pig.png', image));
  width: 164px;
  height: 168px;
  position: absolute;
  top: 0;
  left: 130px;
}

.locker-intro {
  background-image: url(asset_path('locker.png', image));
  width: 814px;
  height: 356px;
  position: absolute;
  top: 160px;
  left: 300px;
}

.locker-desc {
  position: absolute;
  top: 8px;
  width: 600px;
  left: 300px;
    h2 {
      color: #1f2870;
    }
}

.rewards-highlights-small {
  background-image: url(asset_path('reward_highlights_yellow_notepaper_pin.png', image));
  position: absolute;
  top: 0;
  left: 940px;
  height: 173px;
  width: 190px;
}

.reward-of-the-week {
  background-image: url(asset_path('reward_of_the_week_pig.png', image));
  position: absolute;
  top: 200px;
  left: 940px;
  height: 205px;
  width: 190px;  
}

.rewards-intro {
  background-image: url(asset_path('rewards_intro.png', image));
  position: absolute;
  top: 50px;
  left: 490px;
  height: 241px;
  width: 361px;
}

.games-board {
  background-image: url(asset_path('games_board.png', image));
  position: absolute;
  width: 400px;
  height: 280px;
  top: 25px;
  left: 460px;
  
}

.foodfight {
  background-image: url(asset_path('food_fight.gif', image));
  position: absolute;
  width: 287px;
  height: 162px;
  top: 0;
  left: 700px;

}

.get-it-now {
  background-image: url(asset_path('get_it_now_lower_price.jpeg', image));
  position: absolute;
  width: 460px;
  height: 120px;
  top: 0;
  left: 200px;

}

.concentration {
  background-image: url(asset_path('concentration.jpeg', image));
  position: absolute;
  width: 203px;
  height: 188px;
  top: 0;
  left: 400px;
}

.boiling-point {
  background-image: url(asset_path('transparent_thermometer.gif', image));
  position: absolute;
  width: 120px;
  height: 339px;
  top: 0;
  left: 500px;
}

.testimonial {
  position: absolute;
  p {
    font-size: 60px;
    color: #f05c1a;
    margin: 60px 0 0 500px;
  }
}

/* Primary Nav Selected */

.content.inbox-not-logged-in {
  .inbox {
    background-image: url(asset_path('locker_selected.png', image));
    background-repeat: no-repeat;  
  }
}

footer {
  color: $supporting-text-color;
  margin-top: 12px;
  .span12 {
    text-align: center;
    p {
    font-family: Arial, Sans-Serif; 
    color: #000000;
    }
    .secondary-nav {
      li {
        display: inline-block;
        padding: 0 1.5em 0 1em;
        border-right: solid 1px #000000;
          a { 
            font-family: Arial, Sans-Serif; 
            color: #000000;
          }
      }
      li:last-child {
        border-right: none
      }
      
    }
  }
}
.visible {
  display: block;
}
.hidden {
  display: none;
}

.hover_image img{
    border: 2px solid #ccc;
}
.hover_image:hover img{
    border: 2px solid navy;
}
.hover_image.active img{
    border-color: red; 
}

.school_hover{
    border: 2px solid #ccc;
}
.school_hover:hover{
    border: 2px solid navy;
}
.school_hover.active{
    border-color: red; 
}

.bank-intro {
  position: absolute;
  p {
    font-size: 60px;
    color: #470BC1;
    margin: 60px 0 0 500px;
  }
}

.piggy-bank-small {
  background-image: url(asset_path('piggy_bank_small.png', image));
  position: absolute;
  width: 200px;
  height: 128px;
  top: 30px;
  left: 850px;
}

.nav-group {
  li {
    a { 
      font-size: 1.6em;
      &:hover, &.active {
        text-decoration: none;
        color: #ee5b1a;
      }
      
    }
  }
}

.friend-messages-content {
  margin-left: 100px;
  h3 {
    max-width: 600px;
  }
  .message-body {
    min-height: 8em;
    background-color: #FFF;
    padding: 1em;
    max-width: 600px;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
  }
  a {
    margin-top: 1em;
  }
}

.admin-message-content {
  margin-left: 100px;
  form {
    background-color: #fff;
    max-width: 600px;
    -moz-box-shadow:    1px 2px 5px 1px #ccc;
    -webkit-box-shadow: 1px 2px 5px 1px #ccc;
    box-shadow:         1px 2px 5px 1px #ccc;
    padding: 2em;  

  }
}

.boxes-nav-container {
  position: relative;
  top: 20px;
  right: 50px;
  background-color: white;
  padding: 1em;
  min-height: 500px;
  -moz-box-shadow:    1px 2px 5px 1px #ccc;
  -webkit-box-shadow: 1px 2px 5px 1px #ccc;
  box-shadow:         1px 2px 5px 1px #ccc;
  
}

