.locker_wrapper {
  background-image: asset_url('locker_background.png', image);
  width: 814px;
  height: 356px;
  position: relative;
  .locker_sticker {
    position: absolute;
  }
}

.locker_edit {
  .locker_wrapper {
    display: inline-block;
  }

  .locker_interface {
    display: block;
    width: 804px;
    height: 160px;
    margin-left: 130px;
    overflow: scroll;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-box-shadow:    1px 2px 8px 3px #ccc;
    -webkit-box-shadow: 1px 2px 8px 3px #ccc;
    box-shadow:         1px 2px 8px 3px #ccc;
    .available_stickers {
      p {
        padding: 1em;
      }
      .sticker {
        display: inline-block;
        cursor: pointer;
        border: 3px solid #fff;
        &:hover {
          border: solid 3px #B87953;
        }
      }
    }
  }
}

.locker_show {
  margin-left: 130px;
}

.locker_buttons {
  background-color: #fff;
  text-align: center;
  width: 804px;
  padding: 2em 1em;
  -moz-box-shadow:    1px 2px 8px 3px #ccc;
  -webkit-box-shadow: 1px 2px 8px 3px #ccc;
  box-shadow:         1px 2px 8px 3px #ccc;
  
  a {
    margin: 0 2em;
  }
}