/* Twitter Bootstrap Default Style Overrides
============================================= */

/* Modals */

.modal {
  overflow: scroll-y;
  max-height:90%;
  padding: 2em;
  border: solid 8px #8BC53E;
}

.modal-body {
  overflow: visible;
}

.modal-backdrop {
  background-color: #312D68;
  opacity: 0.8;
}

/* Pagination ul */

.pagination ul {
  min-width: 450px;
}
