%small-circle {
  &.active, &:hover {
    color: white;
    background: #07668F;
  }
}

%medium-circle {
  &.active, &:hover {
    color: white;
    background: #07668F;
  }
}

%medium-circle2 {
  &.active, &:hover {
    color: white;
    background: #07668F;
  }
}

%large-circle {
  &.active, &:hover {
    color: white;
    background: #07668F;
  }
}

%large-circle2 {
  &.active, &:hover {
    color: white;
    background: #07668F;
  }
}

$green: #25860b;
$orange: #ea4e08;
$fadedOrange: #EB731C;
$purple: #B611B0;
$darkBlue: #1f2870;
$blue: #470bc1;
$red: #ff2204;


.primary-nav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: relative; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #042d40; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  //top: 100px;
  //padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  li a {
    color: white;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    background: #075B7F;
    display: block;
    transition: 0.3s;
  }
  i {
    margin-right: 14px;
  }
  li {
    display: block;
  }
  li a:hover, li a:focus, li:hover {
    color: white;
    background: #07668F;
  } 

  .home {
    color: white;
    @extend %small-circle;
  }

  .how-it-works {
    color: white;
    @extend %large-circle;
  }

  .testimonials {
    color: white;
    @extend %large-circle;
  }

  .locker {
    color: white;
    @extend %medium-circle;
  }

  .inbox {
    color: white;
    @extend %small-circle;
  }

  .inbox_with_count {
     color: white;
    @extend %medium-circle2;
  }

  .restock {
    color: white;
    @extend %medium-circle;
  }

  .manage_students {
    color: white;
    @extend %medium-circle;
  }

  .manage_teachers {
     color: white;
    @extend %medium-circle2;
  }

  .help {
    color: white;
    @extend %small-circle;
  }

  .bank {
     color: white;
    @extend %small-circle;
  }

  .play {
     color: white;
    @extend %small-circle;
  }

  .shop {
    color: white;
    @extend %small-circle;
  }

  .charities {
     color: white;
    @extend %medium-circle2;
  }

  .rewards {
     color: white;
    @extend %large-circle;
  }

  .reports {
    color: white;
    @extend %medium-circle;
  }

  .settings {
    color: white;
    @extend %medium-circle;
  }

  .classrooms {
    color: white;
    @extend %large-circle2;
  }

  .lounge {
    color: white;
    @extend %medium-circle;
  }

  .news {
    color: white;
    @extend %small-circle;
  }
}
