.primary-nav {
  //height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: relative; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #075B7F; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  
  //top: 100px;
  //padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  li a {
    color: white;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    background: #075B7F;
    display: block;
    //transition: 0.3s;
    white-space: nowrap;
  }
  i {
    margin-right: 14px;
  }
  li {
    display: block;
    height: 50px;
    overflow: hidden;
  }
  li a:hover, li a:focus {
    color: white;
    background: #07668F;
  } 

  .home {
     color: white;
     background-image: url(asset_path('icon-home.svg', image));
     background-repeat: no-repeat;
     background-position: 10px 0;
     padding-left: 60px;
    }
    
  .home:hover, .home.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('icon-home-selected.svg', image));
      background-repeat: no-repeat;      
     background-position: 10px 0;      
   }

  .locker {
     color: white;
     background-image: url(asset_path('icon-locker.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .locker:hover, .locker.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('icon-locker-selected.svg', image));
      background-repeat: no-repeat;   
      background-position: 10px 0;         
   }

  .inbox {
     color: white;
     background-image: url(asset_path('common/icon-inbox.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .inbox:hover, .inbox.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-inbox-selected.svg', image));
      background-repeat: no-repeat;   
      background-position: 10px 0;         
   }

  .inbox_with_count {
     color: white;
     background-image: url(asset_path('common/icon-inbox.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .inbox_with_count:hover, .inbox_with_count.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-inbox-selected.svg', image));
      background-repeat: no-repeat;  
      background-position: 10px 0;          
   }

  .manage_students {
     color: white;
     background-image: url(asset_path('common/icon-students.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .manage_students:hover, .manage_students.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-students-selected.svg', image));
      background-repeat: no-repeat;  
      background-position: 10px 0;          
   }

  .manage_teachers {
     color: white;
     background-image: url(asset_path('common/icon-teachers.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .manage_teachers:hover, .manage_teachers.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-teachers-selected.svg', image));
      background-repeat: no-repeat; 
      background-position: 10px 0;           
   }



  .bank {
     color: white;
     background-image: url(asset_path('common/icon-bank.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .bank:hover, .bank.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-bank-selected.svg', image));
      background-repeat: no-repeat;  
      background-position: 10px 0;          
   }


  .play {
     color: white;
     background-image: url(asset_path('common/icon-play.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .play:hover, .play.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-play-selected.svg', image));
      background-repeat: no-repeat;      
      background-position: 10px 0;      
   }
   
  .shop {
     color: white;
     background-image: url(asset_path('common/icon-shop.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .shop:hover, .shop.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-ishop-selected.svg', image));
      background-repeat: no-repeat; 
      background-position: 10px 0;           
   }

  .reports {
     color: white;
     background-image: url(asset_path('common/icon-reports.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .reports:hover, .reports.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-reports-selected.svg', image));
      background-repeat: no-repeat; 
      background-position: 10px 0;             
   }

  .classrooms {
     color: white;
     background-image: url(asset_path('common/icon-classrooms.svg', image));
     background-repeat: no-repeat;
     padding-left: 60px;
     background-position: 10px 0;     
    }
    
  .classrooms:hover, .classrooms.active {
      color: white;
      background-color: #07668F;
      background-image: url(asset_path('common/icon-classrooms-selected.svg', image));
      background-repeat: no-repeat;  
      background-position: 10px 0;          
   }

}

.profile, .profile-collapsed {
  background-color: #065272;
}


 
//new styles for secondary user menu
.custom-nav-bar.secondary-open .profile {
    display: none !important;
}
.custom-nav-bar.secondary-open .secondary-profile-menu {
    bottom: 0;
}
.custom-nav-bar.secondary-open .profile-collapsed {
    display: none !important;
}
 
.secondary-profile-menu {
    position: fixed;
    padding: 0;
    width: 250px;
    bottom: -300px; //default style is present, but positioned off screen
    left: 0px;
    border-top: 1px solid #2c7c9f;
    background-color: #065272;
    z-index: 100;
    transition: 0.3s;
}
 
.profile-container {
    border-bottom: 1px solid #2c7c9f;
    height: 55px;
}
 
.secondary-profile-menu .person-details {
    width: 180px;
    max-width: 180px;
}

.hidden {
  display: none;
}
 
.secondary-user-nav {
    background-color: #065272;
    width: 250px;
    position: relative;
    z-index: 1;
    left: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    
    .help {
       background-image: url(asset_path('icon-help.svg', image));
       background-repeat: no-repeat;
       padding-left: 60px;
       background-position: 10px 0;       
    }
    .help:hover, .help.active {
        background-color: #07668F;
        background-image: url(asset_path('icon-help.svg', image));
        background-repeat: no-repeat;  
        background-position: 10px 0;            
     }
     
     .settings {
       background-image: url(asset_path('icon-settings.svg', image));
       background-repeat: no-repeat;
       padding-left: 60px;
       background-position: 10px 0;       
      }
      
    .settings:hover, .settings.active {
        background-color: #07668F;
        background-image: url(asset_path('icon-settings.svg', image));
        background-repeat: no-repeat;  
        background-position: 10px 0;            
     }
    
     .logout {
       background-image: url(asset_path('icon-logout.svg', image));
       background-repeat: no-repeat;
       padding-left: 60px;
       background-position: 10px 0;       
      }
      
    .logout:hover, .logout.active {
        background-color: #07668F;
        background-image: url(asset_path('icon-logout.svg', image));
        background-repeat: no-repeat;
        background-position: 10px 0;              
     }
     
     .eprofile {
       background-image: url(asset_path('icon-profile.svg', image));
       background-repeat: no-repeat;
       padding-left: 60px;
       background-position: 10px 0;       
      }
      
    .eprofile:hover, .eprofile.active {
        background-color: #07668F;
        background-image: url(asset_path('icon-profile.svg', image));
        background-repeat: no-repeat; 
        background-position: 10px 0;             
     }
     ul {
       background-color: #065272;
     }
}
.secondary-user-nav ul {
                margin: 0 0 13px 0;
}
 
.secondary-user-nav li {
    display: block;
    height: 45px;
    overflow: hidden;
}
 
.secondary-user-nav a {
    color: white;
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 16px;
    background: #065272;
    display: block;
    white-space: nowrap;
}
 
.secondary-user-nav li a:hover {
    background-color: #07668F;
    color: white;
    text-decoration: none;
}