.filters {
  .filter-chooser {
    label {
      display: inline-block;
    }
    input {
      display: inline-block;
    }
  }
}

.student-activity-date-filter{
	float:left;
	margin-right: 50px;
}

.classroom-filter label{
  display: inline-block;
  margin-right: 20px;
	
}