.honor-roll-content {
  padding-top: 3em;
  padding-left: 3em;
  h4 {
    font-size: 125%;
    color: black;
    margin-bottom: 0;
  }
  ol {
    font-size: 125%;
  }
  .most-donated {
    @include rotate(-5deg);
    float:left;
  }
  .most-earned {
    @include rotate(2deg);
    float:right;
    width:30%;
    margin-right:1em;
    position:relative;
    top:1em;
  }
}

.grid_edit_students {
  th {
    text-align: left;
  }
  td.text, th.text, td.text input {
    width: 100px;
  }
  td.select, th.select, td.select select {
    width: 110px;
    &.grade, &.grade select {
      width: 60px;
    }
    &.gender, &.gender select {
      width: 90px;
    }
    .classroom, &.classroom select {
      width: 200px;
    }
  }
  .controls {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    label {
      display: inline-block;
    }
    #controls_grade {
      width: 60px;
    }
    #controls_gender {
      width: 90px;
    }
    #controls_action {
      width: 300px;
    }
  }
  .delete_row{
    margin-bottom:14px;
  }
  .grade {
    margin-left: 0; // Overriding something too generic elsewhere
    width: 60px;
  }
}
