.honor-roll-content {
  padding-top: 3em;
  padding-left: 3em;
  @include rotate(-5deg);
  h4 {
    //font-size: 125%;
    color: black;
    margin-bottom: 0;
  }
  ol {
    //font-size: 125%;
  }
}

.grid_edit_students {
  //font-size:12px;
  th {
    text-align: left;
  }
  td.text, th.text{
    width: 160px;
  }
  td.text input {
    width: 140px;
  }
  td.select, th.select, td.select select {
    width: 90px;
    &.grade {
      width: 115px;
      display: table-cell;
    }
    &.gender {
      width: 115px;
    }
    .classroom, &.classroom select {
      width: 100px;
    }
  }
  .controls {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    label {
      display: inline-block;
    }
    #controls_grade {
      width: 100px;
    }
    #controls_gender {
      width: 100px;
    }
    #controls_action {
      width: 300px;
    }
  }
  .delete_row{
    margin-bottom:14px;
  }
  .grade {
    margin-left: 0; // Overriding something too generic elsewhere
    //width: 60px;
  }

  .students_body{
    td.text{
      padding-left:14px;
    }
    td.student-contact{
      text-align:center;
    }
    td.grade{
      text-align: center;
    }
  }


}
