$primary-background: #eee;
$primary-border: #ccc;
$interesting-text-color: #666;
$supporting-text-color: #aaa;
$incorrectly-chosen-background: #f00;
$correct-background: #0f0;

$small-content-color: #25860B;