.campaign_left {
  float: left;
}
.campaign_right {
  float: right;
}
.no_title .ui-dialog-titlebar {
  display: none;
}
.ui-dialog .ui-dialog-content {
  font-size: 1.5em;
}
.ui-widget .awesome-button {
  //font-family: SketchRockwell;
  //font-size: 1.3em;
}
.green-money {
  color: #198503;
  font-weight: bold;
  //font-size: 1.3em;
  
}

.ui-widget-content a {
  color: #0088cc;
  text-decoration: underline;
}
