
html.resp, body.resp {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    //max-width: 960px;
    //min-width: 320px;
    //: url(asset_path('lines_schooladmin.png', image)) no-repeat scroll center;
    //background-position: center 190px;
}
