html.resp, body.resp {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    #max-width: 960px;
    #min-width: 320px;
    #: url(asset_path('lines.png', image)) repeat-y scroll center;
    #background-position: center 170px;
}
