- content_for :head do
  = stylesheet_link_tag    'spree_admin', media: 'all'
%h2.object-title Rewards Administration
= paginate @products, :theme => 'le'
.object-actions
  = link_to "New Reward", new_admin_reward_path
.content-container
  .main-content-wrapper
    .full-content
      = render :partial => 'admin_rewards', :locals => { :products => @products }
