%h1 New Product
.container
  = form_for(:product, :url => { :controller => 'rewards', :action => 'create', :method => :post}, :html => { :class => 'form-horizontal', :multipart => true }) do |f| 
    = render 'form', :f => f
  = link_to "cancel", admin_rewards_path
