.foot
  %ul.secondary-nav.noprint
    %li= link_to "FAQ", main_app.page_path('faq')
    %li= link_to "Privacy", main_app.page_path("privacy")
    %li= link_to "Contact", main_app.page_path('contact')

  %p 
    Copyright &copy; 2017 Learning Earnings
    =  "( " + LE_APP_VERSION + " ). All Rights Reserved. "
