.header
  //%ul.secondary-nav.noprint
  //  %li= link_to "FAQ", main_app.page_path('faq')
  //  %li= link_to "Privacy", main_app.page_path("privacy")
  //  %li= link_to "Contact", main_app.page_path('contact')
  %h1 Page Name
    
