.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('175x175#').url
.current-person.supplemental-part
  .credit-balance
    %table.table.table-bordered
      %thead
        %tr 
          %th Credit Balance
        %tr
          %th Checking
          %th Savings
      %tbody
        %tr
  .person-details
    %h3= current_person.email
    %p= link_to "Edit My Profile", main_app.edit_person_path(current_person)
    %p= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
