.current-user-avatar.supplemental-part
  - if current_user.avatar.present?
    = image_tag current_user.avatar.image.thumb('175x175#').url
.current-user.supplemental-part
  %h3= current_user.email
  //%p= link_to "Edit My Profile", '#'#edit_user_path#(current_user)
  %p= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
  %h4 Credit Balance
  %table.table.table-bordered
    %thead
      %tr
        %th Checking
        %th Savings
    %tbody
      %tr
        - if current_user.person.present? && current_user.person.account.present?
          %td=number_to_currency(current_user.person.account.balance)
          %td=number_to_currency(current_user.person.account.balance)
        - else
          %td=number_to_currency(0.00)
          %td=number_to_currency(0.00)

  %p
    %strong
      Messages:
    = link_to '2', page_path('logged_in_inbox')
