%ul.primary-nav
  %li= link_to "Home",         main_app.teacher_page_path('home'),  :class => 'home'
  %li= link_to "How it works", main_app.teacher_page_path('not_logged_in_how_it_works'), :class => 'how-it-works'
  %li= link_to "Bank",         main_app.teacher_page_path('not_logged_in_bank'), :class => 'bank'
  %li= link_to "Shop & Play",         main_app.teacher_page_path('not_logged_in_rewards'), :class => 'rewards'
  //%li= link_to "News",         main_app.teacher_page_path('news'), :class => 'news'
