.messages-container
  = render "layouts/flashes"
  - if respond_to? :breadcrumbs
    = #breadcrumbs(@taxon)
= render "layouts/header"    
.resp-page-content=yield
= render "layouts/footer"
-# - if (sidebar = yield :sidebar).empty?
-#   .resp-page-content= yield
-# - else
-#   .resp-page-content
-#     .span2= sidebar
-#     .span9= yield
