.resp-supplemental
  .resp-join.resp-join-supplemental-part
    - if current_user && current_user.person
      = render 'layouts/resp_logged_in_block_' + current_user.person.class.to_s.downcase
  .resp-login
    - unless current_user
      = render 'layouts/resp_login_form'
