.resp-supplemental-part
  .current-person
    .credit-balance
      %table.table
        %thead
    .person-details
      %h3= current_person.full_name
      %ul.links
        %li=# link_to "Edit My Profile", main_app.person_path(current_person)
        %li= link_to 'Sign out', spree.get_destroy_user_session_path
    .avatar
      = avatar_for(current_person, '80x80#')
